{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Include bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include custom styles -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#Home Page">
                <img id="logo" src="images/pong-retro-logo-3@2x.png" alt="Logo Pong">
            </a>
        </div>
        <nav>
            <button class="nav-button">History</button>
            <button class="nav-button">FAQ</button>
            <button class="nav-button">About</button>
        </nav>
    </header>
    <div class="ft_container">
        <div class="sidebar">
            <!-- Sidebar content before user logs in -->
            <section id="sidebar-before-login">
                <h2>Get Started</h2>
                <p>Sign up or log in to access the full site.</p>
                <button class="sidebar-button" id="login-button">Login</button>
                <button class="sidebar-button" id="sign-up-button">Sign Up</button>
            </section>

            <!-- Sidebar content after user logs in -->
            <section id="sidebar-after-login" style="display: none;">
                <img src="images/avatar-2@2x.png" alt="Profile Picture" class="profile-pic">
                <div class="user-info">
                    <p id="username">afs_2010</p> <!-- Placeholder for dynamic username -->
                    <p>Elo Rating: <span id="elo-rating">13059</span></p> <!-- Placeholder for dynamic Elo rating -->
                    <p>Rank: <span id="rank">3rd</span></p> <!-- Placeholder for dynamic rank -->
                </div>
                <button class="sidebar-button play" id="play-button">Play</button>
                <button class="sidebar-button">Social</button>
                <button class="sidebar-button">My Profile</button>
                <button class="sidebar-button">Stats</button>
                <button class="sidebar-button">Settings</button>
                <button class="sidebar-button log-out" id="logout-button">Logout</button>
<!--                 <div>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                </div> -->

            </section>
            <div class="play-menu">
                <button class="play-menu-button">
                    <img src="images/1-vs-1.png" alt="1 vs 1">
                    <div class="play-menu-content">
                        <span>1 vs 1 Local</span>
                    </div>
                </button>
                <button class="play-menu-button">
                    <img src="images/1-vs-ai.png" alt="1 vs AI">
                    <div class="play-menu-content">
                        <span>1 vs AI</span>
                    </div>
                </button>
                <button class="play-menu-button">
                    <img src="images/online-playing.png" alt="1 vs 1 Online">
                    <div class="play-menu-content">
                        <span>1 vs 1 Online</span>
                    </div>
                </button>
                <button class="play-menu-button">
                    <img src="images/double-pong.png" alt="Double Pong">
                    <div class="play-menu-content">
                        <span>Double Pong</span>
                    </div>
                </button>
                <button class="play-menu-button">
                    <img src="images/tournament.png" alt="Tournament">
                    <div class="play-menu-content">
                        <span>Tournament</span>
                    </div>
                </button>
            </div>
        </div>
        <div id="main-content">
            <!-- Content will be dynamically loaded here -->
                <!-- Content will be dynamically loaded here -->
                <section id="Home-Page" class="text">
                    <!-- Content for Home section -->
                    <h2>Welcome to our Single Page Application!</h2>
                    <p>This is the home page content. You can add any introductory text or other elements here.</p>
                </section>

                <section id="Login">
                    <!-- Content for Login section -->
                    <h2>Login</h2>
                    <p>Enter your username and password to log in.</p>
                    <form>
                        <input type="text" id="username" placeholder="Username" required>
                        <input type="password" id="password" placeholder="Password" required>
                        <input type="submit" value="Login">
                        <a href="#" id="login-42" aria-label="Login with 42">
                            <span>Login with 42</span>
                            <img src="images/42_logo.png" alt="42 Logo">
                        </a>
                    </form>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    <!-- if user doesn't have an account, they can click here to sign up -->
                    <p>Don't have an account? <a href="#" id="sign-up-link">Sign up</a></p>
                </section>
                

                <section id="History">
                    <div class="history-title">
                        <h2>History</h2>
                    </div>
                    <div class="history-content">
                        <div class="history-text">
                            <!-- Content for History section -->
                            <p>Pong, the game that launched a thousand joysticks, burst onto the scene in 1972, captivating players with its addictive simplicity. With just two paddles and a bouncing ball, it sparked a gaming revolution.</p>
                            <p>Atari's daring move to release a home edition in 1975 saw 150,000 units fly off shelves, cementing Pong's status as a cultural icon. Despite facing fierce competition from clones, Atari's innovative spirit shone with creations like "Double Pong," proving that in the game of gaming, innovation is king.</p>
                            <p>Pong's legacy lives on, a timeless reminder that big revolutions can start with just a small bounce.</p>
                            <p>This is the home page content. hello.</p>
                        </div>
                        <!-- Image for History section to be side by side with the content -->
                        <div class="history-image">
                            <img src="images/pong-machine.png" alt="Pong Machine">
                        </div>
                    </div>
                </section>
                
                
                <section id="FAQ">
                    <!-- Content for FAQ section -->
                    <h2>FAQ</h2>
                    <p>Here are some frequently asked questions:</p>
                    <ul>
                        <li><strong>Q:</strong> What is the objective of the game Pong?</li>
                        <li><strong>A:</strong> The objective is to hit the ball past your opponent's paddle.</li>
                        <li><strong>Q:</strong> How many players can play Pong?</li>
                        <li><strong>A:</strong> Pong can be played by two players.</li>
                        <!-- Add more FAQs as needed -->
                    </ul>
                </section>
                
                <section id="About">
                    <!-- Content for About section -->
                    <h2>About Us</h2>
                    <p>Welcome to our website! We are passionate about Pong and dedicated to providing you with the best information and resources related to this iconic game.</p>
                    <p>Feel free to explore our site and learn more about the history of Pong, browse our FAQ section, and discover interesting facts about the game.</p>
                </section>

                <section id="Sign-Up">
                    <!-- Content for Sign Up section -->
                    <h2>Sign Up</h2>
                    <p>Sign up to receive updates and news about Pong!</p>
                    <input type="text" placeholder="Username / Email">
                    <input type="email" placeholder="Password">
                    <input type="submit" value="Sign Up">
                    <!-- if user already has an account, they can click here to log in -->
                    <p>Already have an account? <a href="#" id="login-link">Login</a></p>
                </section>
        </div>
    </div>
    <!-- bootstrap toolkit -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
