
src/vault/.env
src/backend/root_token.txt
src/game/package-lock.json
src/game/node_modules
src/game/node_modules
src/game/.parcel-cache
.parcel-cache
src/game/dist
google_qrcode.png
src/game/simple/dist
src/game/double/dist
