/*aside*/
aside {
    background-color: rgb(26, 33, 59);
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex: 0 0 162px;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f4f4f4;
    max-width: 162px !important;
}

  
