{% load static %}
<!-- sidebar content after login -->
<div id="sidebar-after-login" class="sidebar-after-login d-none" >
    <img id="profile-image-sidebar" class="profile-pic" alt="Profile Picture">
    <p id="username-sidebar" class="username"></p>
    <div class="sidebar-stats">
        <p class="stats">W: <span id="wins-sidebar"></span></p>
        <p class="stats"> - </p>
        <p class="stats">L: <span id="losses-sidebar"></span></p>
    </div>
    <div class="col">
        <button class="btn btn-primary" id="play-button">Play</button>
        <button class="btn btn-primary" id="my-profile-button">My Profile</button>
        <button class="btn btn-primary" id="stats-button">Stats</button>
        <button class="btn btn-primary" id="social-button">Social</button>
        <button class="btn btn-primary" id="settings-button">Settings</button>
        <button class="btn btn-primary" id="logout-button">Logout</button>
    </div>
</div>
