{%load static %}
<div class="play-menu" id="play-menu">
    <button class="play-menu-button" data-section-id="1-vs-1-local" id="1-vs-1-local">
        <img src="{% static 'images/1-vs-1.png' %}" alt="1 vs 1 Local">
        <div class="play-menu-content">
            <span>1 vs 1 Local</span>
        </div>
    </button>
    
    <button class="play-menu-button" data-section-id="1-vs-ai" id="1-vs-ai">
        <img src="{% static 'images/1-vs-ai.png' %}" alt="1 vs AI">
        <div class="play-menu-content">
            <span>1 vs AI</span>
        </div>
    </button>
    
    <button class="play-menu-button" data-section-id="1-vs-1-online" id="1-vs-1-online">
        <img src="{% static 'images/online-playing.png' %}" alt="1 vs 1 Online">
        <div class="play-menu-content">
            <span>1 vs 1 Online</span>
        </div>
    </button>
    
    <button class="play-menu-button" data-section-id="double-pong" id="double-pong">
        <img src="{% static 'images/double-pong.png' %}" alt="Double Pong">
        <div class="play-menu-content">
            <span>Double Pong</span>
        </div>
    </button>
    
    <button class="play-menu-button" data-section-id="tournament" id="tournament">
        <img src="{% static 'images/tournament.png' %}" alt="Tournament">
        <div class="play-menu-content">
            <span>Tournament</span>
        </div>
    </button>
</div>