<section id="double-pong-match-options" style="display: none;">
    {% load static %}
    <h2>Match Options</h2>
    <p>Choose sides</p>
    <div class="players-choosed-double-pong">
        <div class="first-row-double-pong">
            <div class="top-side-player-double-pong">
                <img src="{% static 'images/ai.png' %}" alt="ai" class="player-choosed-double-pong" id="player-choosed-double-pong-top-side">
                <p>AI</p>
            </div>
        </div>
        <div class="second-row-double-pong">
            <div class="left-side-player-double-pong">
                <img src="{% static 'images/ai.png' %}" alt="ai" class="player-choosed-double-pong" id="player-choosed-double-pong-left-side">
                <p>AI</p>
            </div>
            <div class="vs" id="vs-double-pong">
                <img src="{% static 'images/vs.png' %}" alt="vs" id="vs">
            </div>
            <div class="right-side-player-double-pong">
                <img src="{% static 'images/ai.png' %}" alt="ai" class="player-choosed-double-pong" id="player-choosed-double-pong-right-side">
                <p>AI</p>
            </div>
        </div>
        <div class="third-row-double-pong">
            <div class="bottom-side-player-double-pong">
                <img src="{% static 'images/ai.png' %}" alt="ai" class="player-choosed-double-pong" id="player-choosed-double-pong-bottom-side">
                <p>AI</p>
            </div>
        </div>
    </div>
    <div class="choose-sides-double-pong">
        <div class="zero-row-double-pong">
            <p class="far-left-side">Left</p>
            <p class="far-left-side">Top</p>
            <p class="far-left-side">None</p>
            <p class="far-left-side">Bottom</p>
            <p class="far-left-side">Right</p>
        </div>
        <div class="first-row">
            <div class="far-left-side">
                <img src="{% static 'images/player1.png' %}" alt="player-one left side" class="player" id="dp-p1-far-left-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-far-left-side-p1" style="display: none;">&gt;</button>
            </div>
            <div class="left-side">
                <button class="my-arrow" id="dp-arrow-left-left-side-p1" style="display: none;">&lt;</button>
                <img src="{% static 'images/player1.png' %}" alt="player-one left side" class="player" id="dp-p1-left-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-left-side-p1" style="display: none;">&gt;</button>
            </div>
            <div class="center">
                <button class="my-arrow" id="dp-arrow-left-center-p1">&lt;</button>
                <img src="{% static 'images/player1.png' %}" alt="player-one center" class="player" id="dp-p1-center">
                <button class="my-arrow" id="dp-arrow-right-center-p1">&gt;</button>
            </div>
            <div class="right-side">
                <button class="my-arrow" id="dp-arrow-left-right-side-p1" style="display: none;">&lt;</button>
                <img src="{% static 'images/player1.png' %}" alt="player-one right side" class="player" id="dp-p1-right-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-right-side-p1" style="display: none;">&gt;</button>
            </div>
            <div class="far-right-side">
                <button class="my-arrow" id="dp-arrow-left-far-right-side-p1" style="display: none;">&lt;</button>
                <img src="{% static 'images/player1.png' %}" alt="player-one right side" class="player" id="dp-p1-far-right-side" style="display: none;">
            </div>
        </div>
        <div class="second-row">
            <div class="far-left-side">
                <img src="{% static 'images/player2.png' %}" alt="player-two left side" class="player" id="dp-p2-far-left-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-far-left-side-p2" style="display: none;">&gt;</button>
            </div>
            <div class="left-side">
                <button class="my-arrow" id="dp-arrow-left-left-side-p2" style="display: none;">&lt;</button>
                <img src="{% static 'images/player2.png' %}" alt="player-two left side" class="player" id="dp-p2-left-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-left-side-p2" style="display: none;">&gt;</button>
            </div>
            <div class="center">
                <button class="my-arrow" id="dp-arrow-left-center-p2">&lt;</button>
                <img src="{% static 'images/player2.png' %}" alt="player-two center" class="player" id="dp-p2-center">
                <button class="my-arrow" id="dp-arrow-right-center-p2">&gt;</button>
            </div>
            <div class="right-side ">
                <button class="my-arrow" id="dp-arrow-left-right-side-p2" style="display: none;">&lt;</button>
                <img src="{% static 'images/player2.png' %}" alt="player-two right side" class="player" id="dp-p2-right-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-right-side-p2" style="display: none;">&gt;</button>
            </div>
            <div class="far-right-side">
                <button class="my-arrow" id="dp-arrow-left-far-right-side-p2" style="display: none;">&lt;</button>
                <img src="{% static 'images/player2.png' %}" alt="player-two right side" class="player" id="dp-p2-far-right-side" style="display: none;">
            </div>
        </div>
        <div class="third-row">
            <div class="far-left-side">
                <img src="{% static 'images/player3.png' %}" alt="player-three left side" class="player" id="dp-p3-far-left-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-far-left-side-p3" style="display: none;">&gt;</button>
            </div>
            <div class="left-side">
                <button class="my-arrow" id="dp-arrow-left-left-side-p3" style="display: none;">&lt;</button>
                <img src="{% static 'images/player3.png' %}" alt="player-three left side" class="player" id="dp-p3-left-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-left-side-p3" style="display: none;">&gt;</button>
            </div>
            <div class="center">
                <button class="my-arrow" id="dp-arrow-left-center-p3">&lt;</button>
                <img src="{% static 'images/player3.png' %}" alt="player-three center" class="player" id="dp-p3-center">
                <button class="my-arrow" id="dp-arrow-right-center-p3">&gt;</button>
            </div>
            <div class="right-side ">
                <button class="my-arrow" id="dp-arrow-left-right-side-p3" style="display: none;">&lt;</button>
                <img src="{% static 'images/player3.png' %}" alt="player-three right side" class="player" id="dp-p3-right-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-right-side-p3" style="display: none;">&gt;</button>
            </div>
            <div class="far-right-side">
                <button class="my-arrow" id="dp-arrow-left-far-right-side-p3" style="display: none;">&lt;</button>
                <img src="{% static 'images/player3.png' %}" alt="player-three right side" class="player" id="dp-p3-far-right-side" style="display: none;">
            </div>
        </div>
        <div class="fourth-row">
            <div class="far-left-side">
                <img src="{% static 'images/player4.png' %}" alt="player-four left side" class="player" id="dp-p4-far-left-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-far-left-side-p4" style="display: none;">&gt;</button>
            </div>
            <div class="left-side">
                <button class="my-arrow" id="dp-arrow-left-left-side-p4" style="display: none;">&lt;</button>
                <img src="{% static 'images/player4.png' %}" alt="player-four left side" class="player" id="dp-p4-left-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-left-side-p4" style="display: none;">&gt;</button>
            </div>
            <div class="center">
                <button class="my-arrow" id="dp-arrow-left-center-p4">&lt;</button>
                <img src="{% static 'images/player4.png' %}" alt="player-four center" class="player" id="dp-p4-center">
                <button class="my-arrow" id="dp-arrow-right-center-p4">&gt;</button>
            </div>
            <div class="right-side ">
                <button class="my-arrow" id="dp-arrow-left-right-side-p4" style="display: none;">&lt;</button>
                <img src="{% static 'images/player4.png' %}" alt="player-four right side" class="player" id="dp-p4-right-side" style="display: none;">
                <button class="my-arrow" id="dp-arrow-right-right-side-p4" style="display: none;">&gt;</button>
            </div>
            <div class="far-right-side">
                <button class="my-arrow" id="dp-arrow-left-far-right-side-p4" style="display: none;">&lt;</button>
                <img src="{% static 'images/player4.png' %}" alt="player-four right side" class="player" id="dp-p4-far-right-side" style="display: none;">
            </div>
        </div>
    </div>
    <div class="dp-add-guest">
        <button id="dp-add-guest">Add player</button>
    </div>
	<div class="dp-remove-guest">
        <button id="dp-remove-guest">Remove player</button>
    </div>
    <div class="start-double-match">
        <button id="start-double-match">Start Match</button>
    </div>
    <section id="dp-login-guest-box" style="display: none;">
        <section id="dp-login-guest" style="display: none;">
            {% load static %}
            <h2>Login guest</h2>
            <p>Enter your username and password to play.</p>
            <form id="login-form">
                {% csrf_token %}
                <input type="text" id="login-username" placeholder="Username" required>
                <div class="password-wrapper">
                    <input type="password" id="dp-login-guest-password" placeholder="Password" required>
                    <div class="password-buttons">
                        <img class="dp-guest-show-password" src="{% static 'images/eye.png' %}" alt="Show Password">
                        <img class="dp-guest-hide-password" src="{% static 'images/eye-slash.png' %}" alt="Hide Password">
                    </div>
                </div>
                <div id="error-message" style="display: none;"></div>
                <input type="submit" value="Login">
            </form>
            <p>or</p>
            <div class="login-42">
                <button id="login-42" aria-label="Login with 42">
                    <img src="{% static 'images/42_logo_white.png' %}" alt="42 Logo">
                    <span>Login with 42</span>
                </button>
            </div>
            <p>Don't have an account? <button id="dp-sign-up-guest-button">Sign up</button></p>
            <!-- DELETE THIS BUTTON AFTER GUEST LOGIN/SIGNUP IS DONE -->
            <div class="dp-test-add-guest1">
                <button id="dp-test-add-guest1">TEST ADD</button>
            </div>
            <div class="dp-close-add-guest">
                <button id="dp-close-add-guest">Close</button>
            </div>
        </section>
        <section id="dp-sign-up-guest" style="display: none;">
            {% load static %}
            <h2>Sign Up</h2>
            <p>Sign up to receive updates and news about Pong!</p>
            <form id="sign-up-form" method="post">
                {% csrf_token %}
                <input type="email" placeholder="Email" id="sign-up-email" required>
                <div id="email-error-message" style="display: none;"></div>
                <input type="text" placeholder="Username" id="sign-up-username" required>
                <div id="username-error-message" style="display: none;"></div>
                <div class="password-wrapper">
                    <input type="password" id="sign-up-password" placeholder="Password"  required>
                    <div class="password-buttons">
                        <img class="show-password" src="{% static 'images/eye.png' %}" alt="Show Password">
                        <img class="hide-password" src="{% static 'images/eye-slash.png' %}" alt="Hide Password">
                    </div>
                </div>
                <div id="password-error-message" style="display: none;"></div>
                <div class="password-requirements" id="password-requirements" style="display: none;">
                    <h6>Password requirements:</h6>
                    <div id="length-requirement">
                        <span class="icon">✗</span>
                        <span> At least 8 characters long</span>
                    </div>
                    <div id="uppercase-requirement">
                        <span class="icon">✗</span>
                        <span> One uppercase letter</span>
                    </div>
                    <div id="lowercase-requirement">
                        <span class="icon">✗</span>
                        <span> One lowercase letter</span>
                    </div>
                    <div id="digit-requirement">
                        <span class="icon">✗</span>
                        <span> One digit</span>
                    </div>
                    <div id="special-requirement">
                        <span class="icon">✗</span>
                        <span> One special character</span>
                    </div>
                </div>
                <div class="sign-up-toggle2FA">
                    <label for="sign-up-toggle2FA"><input type="checkbox" id="sign-up-toggle2FA"> Enable Two-Factor Authentication</label>
                </div>
                <input type="submit" value="Sign Up">
            </form>
            <p>or</p>
            <div class="login-42">
                <button id="login-42" aria-label="Login with 42">
                    <img src="{% static 'images/42_logo_white.png' %}" alt="42 Logo">
                    <span>Sign up with 42</span>
                </button>
            </div>
            <p>Already have an account? <button id="dp-login-guest-link">Login</button></p>
            <div class="dp-test-add-guest2">
                <button id="dp-test-add-guest2">TEST ADD</button>
            </div>
            <div class="dp-close-add-guest-signup">
                <button id="dp-close-add-guest-signup">Close</button>
            </div>
        </section>
    </section>
</section>