<header>
    {% load static %}
    <div class="container-fluid">
        <div class="row">
            <nav class="my-navbar">
                <a class="my-navbar-brand active" aria-current="page" href="#HomePage">
                    <img class="logo" id="logo" src="{% static 'images/pong-retro-logo-3@2x.png' %}" alt="Logo Pong">
                </a>
                <ul class="my-nav">
                    <li class="my-nav-item active" id="home-nav">
                        <a class="my-nav-link" href="#Home">Home</a>
                    </li>
                    <li class="my-nav-item active" id="history-nav">
                        <a class="my-nav-link" href="#History">History</a>
                    </li>
                    <li class="my-nav-item active" id="faq-nav">
                        <a class="my-nav-link" href="#FAQ">FAQ</a>
                    </li>
                    <li class="my-nav-item active" id="about-nav">
                        <a class="my-nav-link" href="#About">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
