<aside class="col-lg-2 bg-light p-4">
    {% load static %}

    <!-- sidebar content before login -->
    <div id="sidebar-before-login" class="d-block mb-4">
        <h2>Get Started</h2>
        <p>Sign up/login to start playing</p>
        <button class="btn btn-primary w-100 mb-3" id="login-button">Login</button>
        <button class="btn btn-primary w-100 mb-3" id="signup-button">Sign Up</button>
    </div>
    <!-- sidebar content after login -->
    <div id="sidebar-after-login" class="d-none mb-4">
        <img src="{% static 'images/avatar-2@2x.png' %}" alt="Profile Picture" class="profile-pic img-fluid rounded-circle mb-3">
        <p id="username" class="mb-1">afs_2010</p> <!-- Placeholder for dynamic username -->
        <p class="mb-1">Elo Rating: <span id="elo-rating">13059</span></p>
        <!-- Placeholder for dynamic Elo rating -->
        <p class="mb-1">Rank: <span id="rank">3rd</span></p> <!-- Placeholder for dynamic rank -->
        <button class="btn btn-primary w-100 mb-2" id="play-button" href="#Play">Play</button>
        <button class="btn btn-primary w-100 mb-2" id="social-button">Social</button>
        <button class="btn btn-primary w-100 mb-2" id="my-profile-button">My Profile</button>
        <button class="btn btn-primary w-100 mb-2" id="stats-button">Stats</button>
        <button class="btn btn-primary w-100 mb-2" id="settings-button">Settings</button>
        <button class="btn btn-primary w-100 mb-2" id="logout-button">Logout</button>
    </div>
</aside>
