<aside class="col-lg-2 bg-light p-4">
    {% load static %}
    <!-- sidebar content before login -->
    <div id="sidebar-before-login" class="d-block mb-4">
        <h2>Get Started</h2>
        <p>Sign up/login to start playing</p>
        <button class="btn btn-primary w-100 mb-3" id="login-button">Login</button>
        <button class="btn btn-primary w-100 mb-3" id="signup-button">Sign Up</button>
    </div>
    <!-- sidebar content after login -->
    <div id="sidebar-after-login" class="d-none mb-4">
        <img id="profile-image-sidebar" src="{% static 'images/avatar-2@2x.png' %}" alt="Profile Picture" class="profile-pic img-fluid rounded-circle mb-3">
        <p id="username-sidebar" class="mb-1"></p>
        <p class="mb-1">wins: <span id="wins-sidebar"></span></p>
        <p class="mb-1">losses: <span id="losses-sidebar"></span></p>

        <button class="btn btn-green w-100 mb-2" id="play-button" href="#Play">Play</button>
        <button class="btn btn-primary w-100 mb-2" id="my-profile-button">My Profile</button>
        <button class="btn btn-primary w-100 mb-2" id="stats-button">Stats</button>
        <button class="btn btn-primary w-100 mb-2" id="social-button">Social</button>
        <button class="btn btn-primary w-100 mb-2" id="settings-button">Settings</button>
        <button class="btn btn-red w-100 mb-2" id="logout-button">Logout</button>
    </div>
</aside>
