
/*sidebar-after-login button*/
.sidebar-after-login button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

/* Used for Play button */
.btn-green {
    background-color: green !important;
    border-color: green !important;
    color: #fff !important; /* text color */
}

.btn-green:hover {
    background-color : darkgreen !important; /* change color on hover */
    border-color: darkgreen !important;
}

/* Used for Logout button */
.btn-red {
	background-color: red !important;
	border-color: red !important;
	color: #fff !important; /* text color */
}