
.sidebar-after-login h2 {
    color: #333;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 1.5em;
}

.sidebar-after-login p {
    color: #333;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 1em;
}

.sidebar-after-login button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.sidebar-after-login button:hover {
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

#logout-button {
    background-color: #dc3545;
}

#logout-button:hover {
    background-color: #c82333;
}

#play-button {
    background-color: #28a745;
}

#play-button:hover {
    background-color: #218838;
}

.profile-pic {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}


