<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--insert logo for title-->
    <link rel="icon" href="{% static 'images/pong-retro-logo-3@2x.png' %}" type="image/png">
    <title>Pong</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/navbar/navbar.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/navbar-sections/home.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/navbar-sections/history.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/navbar-sections/faq.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/navbar-sections/about.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/login.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/sign-up.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/play.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/play/one-vs-one-match-options.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/play/double-pong-match-options.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/play/tournament-options.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/play/tournament-brackets.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/play/1-vs-1-local.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/my-profile.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/social.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/main-content/sidebar-sections/settings.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/sidebar/sidebar.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/sidebar/sidebar-before-login.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/sidebar/sidebar-after-login.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/sidebar/sidebar-nested.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static 'css/sidebar/sidebar-play-menu.css' %}?{{ STATIC_URL }}">
    <link rel="stylesheet" href="{% static '/css/main-content/sidebar-sections/settings.css' %}?{{ STATIC_URL }}">

    <!--insert bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"> -->
</head>

<body>
<header>
    {% include './navbar/navbar.html' %}
</header>
    <main>
        <div class="container-fluid">
            <div class="row">
                    <aside class="sidebar">
                        {% include './sidebar/sidebar-before-login.html' %}
                        {% include './sidebar/sidebar-after-login.html' %}
                    </aside>
                    <aside class="sidebar-nested">
                        {% include './sidebar/sidebar-play-menu.html' %}
                    </aside>
                <div class="main-content">
                    {% include './main-content/navbar-sections/home.html' %}
                    {% include './main-content/navbar-sections/history.html' %}
                    {% include './main-content/navbar-sections/faq.html' %}
                    {% include './main-content/navbar-sections/about.html' %}
                    {% include './main-content/sidebar-sections/login.html' %}
                    {% include './main-content/sidebar-sections/play/one-vs-one-match-options.html' %}
                    {% include './main-content/sidebar-sections/play/double-pong-match-options.html' %}
                    {% include './main-content/sidebar-sections/play/tournament-options.html' %}
                    {% include './main-content/sidebar-sections/play/tournament-brackets.html' %}
                    {% include './main-content/sidebar-sections/sign-up.html' %}
                    {% include './main-content/sidebar-sections/play/1-vs-1-local.html' %}
                    {% include './main-content/sidebar-sections/play/double-pong.html' %}
                    {% include './main-content/sidebar-sections/my-profile.html' %}
                    {% include './main-content/sidebar-sections/social.html' %}
                    {% include './main-content/sidebar-sections/2fa.html' %}
                    {% include './main-content/sidebar-sections/settings.html' %}
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="{% static 'js/auth.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/graphs.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/sidebar.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/one-vs-one-match-options.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/double-pong-match-options.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/tournament-options.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/tournament-brackets.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/my-profile.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/navigation.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/navbar.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/faq.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/login.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/sign-up.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/play.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/1-vs-1-local.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/social.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/settings.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/pong.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/double-pong.js' %}?{{ STATIC_URL }}"></script>
    <script src="{% static 'js/stats.js' %}?{{ STATIC_URL }}"></script>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
