<aside>
	<!-- sidebar content before login -->
	<div class="sidebar-before-login" id="sidebar-before-login">
		<h2>Get Started</h2>
		<p>Sign up/login to start playing</p>
		<button class="btn btn-primary" id="login-button">Login</button>
		<button class="btn btn-primary" id="signup-button">Sign Up</button>
	</div>
	<!-- sidebar content after login -->
	<div class="sidebar-after-login" style="display:none;">
		<img src="images/avatar-2@2x.png" alt="Profile Picture" class="profile-pic">
		<div class="user-info">
			<p id="username">afs_2010</p> <!-- Placeholder for dynamic username -->
			<p>Elo Rating: <span id="elo-rating">13059</span></p>
			<!-- Placeholder for dynamic Elo rating -->
			<p>Rank: <span id="rank">3rd</span></p> <!-- Placeholder for dynamic rank -->
		</div>
		<button class="sidebar-button play" id="play-button">Play</button>
		<button class="sidebar-button" id="social-button">Social</button>
		<button class="sidebar-button" id="my-profile-button">My Profile</button>
		<button class="sidebar-button" id="stats-button">Stats</button>
		<button class="sidebar-button" id="settings-button">Settings</button>
		<button class="sidebar-button log-out" id="logout-button">Logout</button>
	</div>
</aside>