<section id="my-profile" style="display: none;">
    {% load static %}
    <div id="stats-header">
        <div id="player-card">
            <div id="player-image-container">
                <img id="profile-pic-stats" alt="Player Image">
            </div>
            <div id="player-card-info">
                <h2 id="player-name"></h2>
                <p>#<span id="player-card-rank"></span></p>
                <p><span id="player-card-form"></span></p>
            </div>
        </div>
        <div id="all-time-stats-container">
            <div class="all-time-stat">
                <!-- Wins -->
                <p>Wins</p>
                <span id="wins"></span>
            </div>
            <div class="all-time-stat">
                <!-- Losses -->
                <p>Losses</p>
                <span id="losses"></span>
            </div>
            <div class="all-time-stat">
                <!-- Points Scored -->
                <p>Points Scored </span></p>
                <span id="points-scored"></span>
            </div>
            <div class="all-time-stat">
                <!-- Tournaments won -->
                <p>Cups Won</p>
                <span id="cups-won"></span>
            </div>
            <div class="all-time-stat">
                <!-- Games -->
                <p>Games Played</p>
                <span id="games-played"></span>
            </div>
            <div class="all-time-stat">
                <!-- Rallies -->
                <p>Rallies</p>
                <span id="rallies"></span>
            </div>
            <div class="all-time-stat">
                <!-- Time Played -->
                <p>Time Played</p>
                <span id="time-played"></span>
            </div>
        </div>
    </div>
    <div id="graphs-container">
        <!-- Plot graphs are inserted here -->
    </div>
    <div class="match-history-container">
        <h2 class="mb-3">Game Match History</h2>
        <div id="matchHistory" class="row"></div>
    </div>
        
</section>
