<section id="my-profile" style="display: none;">
    {% load static %}
    <div class="profile-container">
        <h2 class="profile-heading"> !<span id="username"></span>!</h2>
        <div class="leaderboard-position">Overall Leaderboard Position: <span id="leaderboard-position"></span></div>
        <div class="profile-stats">
            <div class="stat">
                <div class="stat-label">Win-Loss Record:</div>
                <div class="stat-value" id="win-loss"></div>
            </div>
            <div class="stat">
                <div class="stat-label">Win Percentage:</div>
                <div class="stat-value" id="win-percentage"></div>
            </div>
            <div class="stat">
                <div class="stat-label">Games Played:</div>
                <div class="stat-value" id="games-played"></div>
            </div>
            <div class="stat">
                <div class="stat-label">Win-Loss Difference:</div>
                <div class="stat-value" id="win-loss-difference"></div>
            </div>
        </div>
        <h3 class="match-history-heading">Match History:</h3>
        <ul class="match-history-list" id="match-history"></ul>
        <div id="radio-buttons">
            <input type="radio" name="graph" value="graph1" checked>
            <label for="graph1">Last 5 games - Points Scored</label><br>
            <input type="radio" name="graph" value="graph2">
            <label for="graph2">Last 5 games - Rallies</label><br>
            <input type="radio" name="graph" value="graph3">
            <label for="graph3">Last 5 games - Points Allowed</label><br>
            <input type="radio" name="graph" value="graph4">
            <label for="graph4">Last 20 games - Total Points</label><br>
            <input type="radio" name="graph" value="graph5">
            <label for="graph5">Last 5 games - Game Duration (minutes)</label><br>
            <input type="radio" name="graph" value="graph6">
            <label for="graph6">Last 5 games - Average Rallies per Point</label>
        </div>
        <div id="graphs-container">
            <!-- plot graphs will be here -->
        </div>
    </div>
</section>
