<section id="play">
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center flex-column justify-content-center">
                        <h5 class="card-title">Play vs AI</h5>
                        <p class="card-text text-center">Play against computer-controlled opponents.</p>
						<a id="play-ai-btn" class="btn btn-primary">Play Now</a>
					</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center flex-column justify-content-center">
                        <h5 class="card-title">Local 1v1</h5>
                        <p class="card-text text-center">Challenge a friend to a one-on-one match.</p>
                        <a href="#" class="btn btn-primary">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center flex-column justify-content-center">
                        <h5 class="card-title">Local Multiplayer</h5>
                        <p class="card-text text-center">Compete against your friends</p>
                        <a href="#" id="playButtonTEST" class="btn btn-primary">Play Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center flex-column">
                        <h5 class="card-title">Tournament Mode</h5>
                        <p class="card-text text-center">Fight for the epic battle royale in a Tournament</p>
                        <a href="#" class="btn btn-primary">Create Tournament</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
