<section id="settings" class="user-profile mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="mb-4">Edit Profile</h2>
                <form id="profile-form">
                    <div class="mb-3 d-flex align-items-center">
                        <label for="inputUsername" class="form-label me-2">Username</label>
                        <input type="text" class="form-control me-2" id="inputUsername" placeholder="currentUsername" onfocus="storeOriginalValue(this)" onblur="disableIfUnchanged(this, 'currentUsername')" disabled>
                        <button type="button" class="btn btn-outline-secondary" onclick="enableEdit('inputUsername')">Edit</button>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <label for="inputName" class="form-label me-2">Name</label>
                        <input type="text" class="form-control me-2" id="inputName" placeholder="currentName" onfocus="storeOriginalValue(this)" onblur="disableIfUnchanged(this, 'currentName')" disabled>
                        <button type="button" class="btn btn-outline-secondary" onclick="enableEdit('inputName')">Edit</button>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <label for="inputSurname" class="form-label me-2">Surname</label>
                        <input type="text" class="form-control me-2" id="inputSurname" placeholder="currentSurname" onfocus="storeOriginalValue(this)" onblur="disableIfUnchanged(this, 'currentSurname')" disabled>
                        <button type="button" class="btn btn-outline-secondary" onclick="enableEdit('inputSurname')">Edit</button>
                    </div>
                    <div class="mb-3">
                        <label for="avatarFile" class="form-label">Avatar</label>
                        <img id="settings-profile-img" alt="Current Avatar" class="d-block mb-2">
                        <input class="form-control" type="file" id="avatarFile">
                    </div>
                    <button onclick="saveChanges()" type="submit" class="btn btn-primary mt-3">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</section>