<!-- signup.html -->
<section id="signup">
    {% load static %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Sign Up</h2>
                        <form id="signup-form">
                            <div class="mb-3">
                                <label for="signup-username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="signup-username" placeholder="Enter your username">
                            </div>
							<div class="mb-3">
                                <label for="signup-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="signup-email" placeholder="Enter your email">
                            </div>
                            <div class="mb-3">
                                <label for="signup-password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="signup-password" placeholder="Enter your password">
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="signup-toggle2FA">
                                <label class="form-check-label" for="toggle2FA">Enable Two-Factor Authentication (Google Authenticator)</label>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                        </form>
                        <div class="text-center mt-3">
                            <p class="text-center">Or</p>
                            <a href="#" class="btn btn-secondary w-100">
                                <img src="{% static 'images/42_logo.png' %}" alt="42" style="width: 24px; height: 24px;">
                                Log in with 42
                            </a>
                        </div>
						<p class="text-center mt-3">Already have an account? <a href="#Login">Log In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
