<section id="social" class="container mt-5" style="display: none;">
    {% load static %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center mb-4">Social</h2>
            <!-- Search Bar -->
                <div class="my-row">
                    <div class="search-container">
                        <input type="text" id="user-search-bar" placeholder="Search for user..." class="form-control">
                        <div class="dropdown-menu" id="search-results" style="width:100%;">
                            <!-- Search results will be appended here -->
                        </div>
                    </div>
                    <img src="{% static 'images/add-friend-icon.png' %}" alt="Add Friend" id="add-friend-icon">
                </div>

            <!-- Friend List -->
            <ul id="list-friends" class="list-group">
            </ul>
        </div>
    </div>
</section>
