/* 1-vs-1-local section */
#play-1-vs-1-local {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	margin: 0px;
	text-align: center;
	height: 100%;
}

.play-1-vs-1-local-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

#pong, #double-pong {
	width: 100%;
	height: auto;
}

#pong canvas, #double-pong canvas {
	max-width: 90% !important;
	width: 90% !important;
	height: auto !important;
	margin: 0 auto !important;
}
