/* double-pong match styles */

.double-pong-match-options {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
    /*background-color: #f4f4f4;*/
   /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);*/

}

/* match options styles */
#double-pong-match-options h2, #double-pong-match-options  p {
    text-align: center;
}

.first-row-double-pong {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.second-row-double-pong {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.third-row-double-pong {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.players-choosed-double-pong img{
    max-width: 50px;
    max-height: 50px;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
}

#vs-double-pong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36%;
}

#vs-double-pong img {
    max-width: 100px;
    max-height: 100px;
    align-self: center;
}


#player-choosed-double-pong-right-side, #player-choosed-double-pong-left-side, #player-choosed-double-pong-top-side, #player-choosed-double-pong-bottom-side {
    
    border: 5px solid lightgrey;
    border-radius: 5px;
}

.choose-sides-double-pong img {
    max-width: 35px;
    max-height: 35px;
    width: 35px;
    margin: 10px;
    align-self: center;
}

.zero-row-double-pong {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.start-double-match {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-double-match {
    background-color: #fe2804; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    animation: fireGradient 3s linear infinite alternate;
}

@keyframes fireGradient {
    0% {
        background-image: conic-gradient(from 180deg, #ff0000 0%, #ff6600 25%, #ffcc00 50%, #ff6600 75%, #ff0000 100%);
        background-size: 100% 100%;
        transform: scale(1);
        /*rotate the angle of the gradient 180 degrees*/


    }
    50% {
        background-image: conic-gradient(from 180deg, #ff0000 0%, #ff6600 25%, #ffcc00 50%, #ff6600 75%, #ff0000 100%);
        background-size: 150% 150%;
        transform: scale(1.1);
    }
    100% {
        background-image: conic-gradient(from 180deg, #ff0000 0%, #ff6600 25%, #ffcc00 50%, #ff6600 75%, #ff0000 100%);
        background-size: 100% 100%;
        transform: scale(1.2);
    }
}

#start-double-match::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: 0.5s ease;
    z-index: -1;
}

#start-double-match:hover::before {
    background: rgba(0, 0, 0, 0.6);
}