.one-vs-one-match-options {
    padding: 10px;
    margin: 0;
}

.one-vs-one-match-options h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.choose-sides {
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
}

