#tournament-bracket {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bracket-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.round {
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.round-name {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

/* .round span {
    font-size: 0.9em;
    color: #28a745;
} */

.match-container {

}

.matches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 60%;
    align-items: center;
    flex-direction: column;
}

.t-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 10px;
    width: 48%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}


.t-player:hover {
    background-color: #f8f9fa;
}

.t-player-name,
.t-player-score {
    font-size: 1em;
    font-weight: bold;
    color: #343a40;
}

.empty-match {
    background-color: lightgray;
    height: 2em;
}

.ready-match {
    background-color: lightskyblue;
    height: 2em;
}

.t-player-name {
    text-transform: capitalize;
}

.t-player-score {
    color: #007bff;
}

.next-match {
    margin-top: 20px;
    text-align: center;
}

#next-match {
    background: linear-gradient(90deg, rgba(255, 140, 0, 1) 0%, rgba(255, 69, 0, 1) 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

#next-match:hover {
    background: linear-gradient(90deg, rgba(255, 69, 0, 1) 0%, rgba(255, 140, 0, 1) 100%);
    transform: scale(1.05);
}

.winner {
    color: green;
}

.loser {
    color: red;
}

#toast-winner,
#toast-winner-simple,
#toast-winner-double {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #007BFF;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    text-align: center;
}

#toast-winner::before,
#toast-winner-double::before,
#toast-winner-simple::before {
    content: "👑\A";
    white-space: pre;
    font-size: 2em;
    display: block;
    text-align: center;
}


/* tournament */


.player-name-left-tournament {
    display: inline-block;
    width: 100px; /* Adjust width as needed */
    text-align: left;
    margin-right: 5px;
}

.player-name-right-tournament {
    display: inline-block;
    width: 100px; /* Adjust width as needed */
    text-align: right;
    margin-left: 5px;
}

.score-tournament {
    display: inline-block;
    width: 30px; /* Adjust width as needed */
    text-align: center;
}

.vs-tournament {
    width: 30px;
    text-align: center;
    display: inline-block;
}

.match-container-tournament {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.winner-tournament {
    width: 40px;
}