#tournament-match {
	display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
	padding-top: 60px;
    margin: 0px;
    position: relative;
}
