.pong-retro-logo-3-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 111.2px;
  object-fit: cover;
  cursor: pointer;
}
.log-in2,
.pong-retro-logo-4-icon10 {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.log-in2 {
  height: 70.3px;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  white-space: nowrap;
  z-index: 2;
}
.pong-retro-logo-4-icon10 {
  height: 23.1px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
  margin-top: -16px;
}
.logo-frame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 364px;
  left: 21px;
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up2 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  white-space: nowrap;
  z-index: 2;
}
.search-bar-instance {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon11 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.team-members-frame {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.frame-details {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 459px;
  left: 21px;
  width: 207px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-2-icon2 {
  position: absolute;
  top: 122px;
  left: 0;
  width: 250px;
  height: 250px;
  object-fit: cover;
  z-index: 3;
}
.frame-signup {
  height: 544px;
  width: 250px;
  position: relative;
}
.history3 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.frame-search-bar-details {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon12 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.pongretro-logo {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button6 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq2,
.frame-frame,
.standar-button6 {
  align-self: stretch;
  display: flex;
}
.frame-frame {
  width: 207px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.faq2 {
  height: 70.3px;
  position: relative;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.rectangle-div {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon13 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent1 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button7 {
  height: 85px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  cursor: pointer;
}
.about3,
.frame-frame1,
.standar-button7 {
  align-self: stretch;
  display: flex;
}
.frame-frame1 {
  width: 207px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.about3 {
  height: 70.3px;
  position: relative;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.our-mission-text-frame {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon14 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.team-meet-frame {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.about-text-frame {
  height: 85px;
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-bar-inner {
  height: 35px;
  width: 247px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: none;
}
.magnifying-glass-1976105-1280-icon2 {
  height: 35px;
  width: 35.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.search-bar3 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.details-retro-pong-icon2 {
  align-self: stretch;
  height: 21px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.details-retropong-instance {
  width: 247px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.history-f-a-q,
.standard-button-frame {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.history-f-a-q {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.standard-button-frame {
  width: 1490px;
  height: 90px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.our-mission {
  height: 88px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.about-text-frame1 {
  width: 1548px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line6,
.blank-line7,
.blank-line8,
.our-goal-is {
  margin: 0;
}
.our-goal-is-container1 {
  width: 100%;
}
.our-goal-is-container {
  width: 1538px;
  height: 167px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.meet-the-team {
  margin: 0;
}
.meet-the-team-container {
  align-self: stretch;
  height: 91px;
  position: relative;
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
  margin-top: -34px;
}
.our-team-members-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-with-history-f-a-q-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image-16-icon {
  height: 120px;
  width: 120px;
  position: relative;
  object-fit: cover;
  min-height: 120px;
}
.blank-line9 {
  margin: 0;
}
.andr-francisco-creative {
  margin-bottom: 0;
}
.andr-francisco-creative-visi {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.andr-francisco-creative-container {
  align-self: stretch;
  position: relative;
  font-weight: 800;
  z-index: 2;
}
.team-member-info {
  width: 631px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-19-icon {
  height: 120px;
  width: 120px;
  position: relative;
  object-fit: cover;
}
.gabriel-franco-graphic {
  margin-bottom: 0;
}
.gabriel-franco-graphic-design {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.gabriel-franco-graphic-container {
  align-self: stretch;
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.cybersecurity {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xl);
  box-sizing: border-box;
  min-width: 410px;
  max-width: 100%;
}
.gabriel-franco {
  flex: 1;
  flex-direction: row;
  min-width: 488px;
  row-gap: 20px;
  text-align: center;
}
.andr-francisco-text-frame,
.gabriel-franco,
.pongretro-logo-rectangle1 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.andr-francisco-text-frame {
  width: 1562px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
  margin-top: -18px;
  font-size: var(--font-size-5xl);
}
.pongretro-logo-rectangle1 {
  flex: 1;
  flex-direction: column;
}
.pongretro-logo-rectangle-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.image-21-icon {
  width: 120px;
  height: 120px;
  position: relative;
  object-fit: cover;
}
.our-mission1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
}
.blank-line10 {
  margin: 0;
}
.joo-pereira-quality {
  margin-bottom: 0;
}
.joo-pereira-quality-assuranc {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.joo-pereira-quality-container1 {
  width: 100%;
}
.joo-pereira-quality-container {
  height: 116px;
  width: 631px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.image-18-icon {
  width: 120px;
  height: 120px;
  position: relative;
  object-fit: cover;
}
.pedro-pereira {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.pedro-gonalves-cybersecurity1 {
  margin-bottom: 0;
}
.pedro-gonalves-cybersecurity {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.pedro-gonalves-cybersecurity-container {
  height: 87px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  min-width: 410px;
  max-width: 100%;
}
.team-member-image {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-mid);
}
.framework-for-team,
.team-member-image,
.team-member-info1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.framework-for-team {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  min-width: 499px;
}
.team-member-info1 {
  width: 1579px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-11xl);
  font-size: var(--font-size-5xl);
}
.frame-frame-history-f-a-q,
.frame-with-f-a-q-frame,
.sign-up-text-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.frame-frame-history-f-a-q,
.frame-with-f-a-q-frame {
  align-items: center;
  gap: var(--gap-29xl);
}
.frame-frame-history-f-a-q {
  align-items: flex-end;
  gap: var(--gap-25xl);
}
.about-us-frame,
.frame-login {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.about-us-frame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-14xl) 0 0;
  max-width: calc(100% - 250px);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-login {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.about-child {
  width: 207px;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
}
.image-20-icon {
  width: 120px;
  height: 120px;
  position: relative;
  object-fit: cover;
}
.image-20-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.blank-line11 {
  margin: 0;
}
.pedro-pereira-backend {
  margin-bottom: 0;
}
.pedro-pereira-backend-develop {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.pedro-pereira-backend-container {
  height: 116px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  min-width: 405px;
  max-width: 100%;
}
.frame-parent1 {
  width: 781px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.about2,
.framework-for-team1 {
  display: flex;
  box-sizing: border-box;
}
.framework-for-team1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 477px 0 var(--padding-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.about2 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 96px;
  gap: var(--gap-11xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .frame-signup {
    display: none;
  }
  .about-us-frame {
    max-width: 100%;
  }
  .framework-for-team1 {
    padding-right: 238px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .log-in2,
  .meet-the-team-container,
  .our-goal-is-container,
  .our-mission,
  .sign-up2 {
    font-size: var(--font-size-13xl);
  }
  .pedro-pereira-backend-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .cybersecurity {
    min-width: 100%;
  }
  .gabriel-franco {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .pedro-gonalves-cybersecurity-container {
    min-width: 100%;
  }
  .team-member-image {
    flex-wrap: wrap;
  }
  .framework-for-team {
    min-width: 100%;
  }
  .sign-up-text-frame {
    gap: var(--gap-21xl);
  }
  .frame-with-f-a-q-frame {
    gap: var(--gap-29xl);
  }
  .frame-frame-history-f-a-q {
    gap: var(--gap-25xl);
  }
  .framework-for-team1 {
    padding-right: 119px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .log-in2,
  .meet-the-team-container,
  .our-goal-is-container,
  .our-mission,
  .sign-up2 {
    font-size: var(--font-size-5xl);
  }
  .andr-francisco-creative-container,
  .gabriel-franco-graphic-container,
  .joo-pereira-quality-container,
  .pedro-gonalves-cybersecurity-container,
  .pedro-pereira-backend-container {
    font-size: var(--font-size-lgi);
  }
  .framework-for-team1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
