.avatar-child,
.avatar-item {
  width: 207px;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
}
.avatar-3-icon1,
.pong-retro-logo-3-icon6 {
  position: absolute;
  left: 0;
  width: 250px;
  object-fit: cover;
}
.pong-retro-logo-3-icon6 {
  top: 0;
  height: 111.2px;
  cursor: pointer;
}
.avatar-3-icon1 {
  top: 111px;
  height: 250px;
  z-index: 1;
}
.standar-button-blue-child9 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.my-profile7 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-steelblue);
  width: 207px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.standar-button-blue-child10 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.my-profile8 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-steelblue);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  height: 100%;
  white-space: nowrap;
}
.blue-triangule-border12,
.blue-triangule-border13 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border13 {
  top: 7.3px;
}
.blue-triangule-border-parent3 {
  position: absolute;
  top: 50px;
  left: 4px;
  width: 200px;
  height: 17px;
}
.standaart-button-blue4 {
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 70.3px;
  cursor: pointer;
  z-index: 3;
}
.standar-button-blue-group {
  position: absolute;
  top: 700px;
  left: 21px;
  width: 207px;
  height: 77px;
}
.standar-button-blue-child11 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.my-profile9,
.standar-button-blue13 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.my-profile9 {
  height: 62px;
  position: relative;
  font-weight: 800;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue13 {
  background-color: var(--color-steelblue);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  white-space: nowrap;
}
.standar-button-blue-child12 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.stats1 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border14,
.blue-triangule-border15 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border15 {
  top: 7.3px;
  z-index: 4;
}
.empty-frame {
  height: 17px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standaart-button-blue5,
.standar-button-blue14 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.standar-button-blue14 {
  width: 100%;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
  padding: 0 0 var(--padding-5xs);
  z-index: 3;
}
.standaart-button-blue5 {
  top: 790px;
  left: 21px;
  width: 207px;
  padding: 0 0 var(--padding-6xs);
  cursor: pointer;
}
.user-name1 {
  height: 70.3px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 3;
}
.user-name-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
}
.blue-triangule-border16 {
  width: 200px;
  height: 10px;
  position: relative;
  z-index: 4;
}
.standar-button-blue-child13 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  z-index: 0;
}
.my-profile10 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.username-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.blue-triangule-border17 {
  align-self: stretch;
  height: 10px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}
.elo-13551,
.rank-3rd1 {
  margin: 0;
}
.elo-1355-container3 {
  width: 100%;
}
.elo-1355-container2 {
  width: 100%;
  height: 100px;
  position: absolute;
  margin: 0 !important;
  bottom: -37px;
  left: 0;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 6;
}
.standar-button-blue15 {
  align-self: stretch;
  height: 75px;
  align-items: center;
  padding: 0 var(--padding-10xs) var(--padding-10xs) 0;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
}
.blue-button-social,
.frame-parent12,
.standar-button-blue15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blue-button-social {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-11xs);
  margin-top: -5px;
}
.frame-parent12 {
  position: absolute;
  top: 343px;
  left: 21px;
  width: 210px;
  height: 152px;
  align-items: flex-start;
}
.standar-button-blue-child14 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-crimson);
  display: none;
}
.my-profile11,
.standar-button-blue16 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.my-profile11 {
  height: 62px;
  position: relative;
  font-weight: 800;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue16 {
  background-color: var(--color-crimson);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  white-space: nowrap;
}
.standar-button-blue-child15 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-crimson);
  display: none;
  z-index: 0;
}
.play1 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border18,
.blue-triangule-border19 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border19 {
  top: 7.3px;
  z-index: 4;
}
.blue-triangule-border-parent4 {
  height: 17px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standaart-button-blue6,
.standar-button-blue17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.standar-button-blue17 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-crimson);
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  z-index: 3;
}
.standaart-button-blue6 {
  align-self: stretch;
  padding: 0 0 var(--padding-6xs);
  position: relative;
  cursor: pointer;
  z-index: 7;
}
.standar-button-blue-child16 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.my-profile12 {
  height: 62px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border20,
.blue-triangule-border21 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.blue-triangule-border21 {
  z-index: 4;
}
.retro-pong-instance {
  height: 10px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standar-button-blue-child17,
.standar-button-blue18 {
  position: relative;
  background-color: var(--color-steelblue);
}
.standar-button-blue18 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
}
.standar-button-blue-child17 {
  height: 70.3px;
  width: 207px;
  display: none;
}
.social1 {
  height: 62px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standaart-button-blue7,
.standar-button-blue19 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.standar-button-blue19 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  z-index: 3;
}
.standaart-button-blue7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  align-items: center;
  position: relative;
}
.social-frame {
  position: absolute;
  top: 527px;
  left: 21px;
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.frame-parent11 {
  height: 867px;
  width: 371px;
  position: relative;
  max-width: calc(100% - 1468px);
}
.history7 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.f-a-q-frame-item {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon34 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.f-a-q-frame3 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.f-a-q-button {
  height: 85px;
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq7 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.frame-child17 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon35 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent15 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button12 {
  height: 85px;
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  cursor: pointer;
}
.about8 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.frame-child18 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon36 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent16 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.about-group {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.history-frame,
.social-frame1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.social-frame1 {
  align-self: stretch;
  width: 207px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.history-frame {
  width: 982px;
  height: 89px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.image-22-icon {
  width: 1010px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.image-22-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.f-a-qand-history-frame,
.logout-button-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-button-frame {
  align-self: stretch;
  gap: var(--gap-158xl);
  max-width: 100%;
}
.f-a-qand-history-frame {
  width: 1101px;
  padding: var(--padding-14xl) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 738px);
}
.search-bar-child4 {
  height: 35px;
  width: 247px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: none;
}
.magnifying-glass-1976105-1280-icon6 {
  height: 35px;
  width: 35.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.search-bar7 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.details-retro-pong-icon6 {
  align-self: stretch;
  height: 21px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.settings-button {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frame-container1,
.settings-button,
.settings-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.settings-button-wrapper {
  width: 247px;
  flex-direction: column;
  padding: var(--padding-33xl) 0 0;
  box-sizing: border-box;
}
.frame-container1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-41xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.standar-button-blue-child18 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.my-profile13 {
  height: 62px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border22,
.blue-triangule-border23 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.blue-triangule-border23 {
  z-index: 4;
}
.blue-triangule-border-parent5,
.standar-button-blue20 {
  height: 10px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standar-button-blue20 {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.standar-button-blue-child19 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.settings1,
.standar-button-blue21 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.settings1 {
  height: 62px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue21 {
  background-color: var(--color-steelblue);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  z-index: 3;
}
.log-out1,
.standaart-button-blue8 {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.standaart-button-blue8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
}
.log-out1 {
  height: 70.3px;
  font-weight: 800;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.rectangle-frame1 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon37 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-frame-parent {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button13 {
  height: 85px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  cursor: pointer;
}
.standaart-button-blue-group,
.standar-button-wrapper1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.standar-button-wrapper1 {
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
}
.standaart-button-blue-group {
  width: 211px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.avatar,
.logout-button {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.logout-button {
  align-self: stretch;
  height: 163px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-2xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.avatar {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-8xl) var(--padding-22xl) var(--padding-mini)
    var(--padding-21xl);
  gap: var(--gap-mini);
  letter-spacing: normal;
}
@media screen and (max-width: 1725px) {
  .frame-parent11 {
    display: none;
  }
  .f-a-qand-history-frame {
    max-width: 100%;
  }
  .settings-button-wrapper {
    display: none;
  }
}
@media screen and (max-width: 1350px) {
  .logout-button-frame {
    gap: var(--gap-158xl);
  }
}
@media screen and (max-width: 900px) {
  .elo-1355-container2,
  .my-profile10,
  .my-profile12,
  .play1,
  .social1,
  .stats1,
  .user-name1 {
    font-size: var(--font-size-7xl);
  }
  .logout-button-frame {
    gap: var(--gap-158xl);
  }
  .frame-container1 {
    gap: var(--gap-41xl);
  }
  .my-profile13,
  .settings1 {
    font-size: var(--font-size-7xl);
  }
  .log-out1 {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 450px) {
  .elo-1355-container2,
  .my-profile10,
  .my-profile12,
  .play1,
  .social1,
  .stats1,
  .user-name1 {
    font-size: var(--font-size-lgi);
  }
  .logout-button-frame {
    gap: var(--gap-158xl);
  }
  .my-profile13,
  .settings1 {
    font-size: var(--font-size-lgi);
  }
  .log-out1 {
    font-size: var(--font-size-5xl);
  }
}
