.faq-child,
.faq-item {
  height: 70.3px;
  background-color: var(--color-gray);
}
.faq-child {
  width: 207px;
  position: relative;
  display: none;
  z-index: 1;
}
.faq-item {
  z-index: 2;
}
.faq-item,
.pong-retro-logo-4-icon21,
.sign-up6 {
  width: 207px;
  position: relative;
  display: none;
}
.pong-retro-logo-4-icon21 {
  height: 23.1px;
  object-fit: cover;
  z-index: 3;
}
.sign-up6 {
  height: 70.3px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  white-space: nowrap;
  z-index: 4;
}
.faq-child1,
.faq-inner {
  height: 70.3px;
  background-color: var(--color-gray);
}
.faq-inner {
  width: 207px;
  position: relative;
  display: none;
  z-index: 6;
}
.faq-child1 {
  z-index: 7;
}
.faq-child1,
.pong-retro-logo-4-icon22,
.sign-up7 {
  width: 207px;
  position: relative;
  display: none;
}
.pong-retro-logo-4-icon22 {
  height: 23.1px;
  object-fit: cover;
  z-index: 8;
}
.sign-up7 {
  height: 70.3px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  white-space: nowrap;
  z-index: 9;
}
.pong-retro-logo-3-icon4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.avatar-frame,
.history5 {
  align-self: stretch;
  display: flex;
}
.avatar-frame {
  width: 250px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.history5 {
  height: 70.3px;
  position: relative;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.logo-frame2 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon23 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-frame {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.inner-frame,
.top-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner-frame {
  align-self: stretch;
  flex: 1;
}
.top-frame {
  height: 90px;
  width: 207px;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.faq5 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.frame-child6 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon24 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent5 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.faq-parent,
.top-frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq-parent {
  align-self: stretch;
  flex: 1;
}
.top-frame1 {
  height: 90px;
  width: 207px;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.about5 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.parent-avatar-frame {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon25 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.details-retro-pong-frame {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.about-frame1 {
  height: 85px;
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-bar-child2 {
  height: 35px;
  width: 247px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: none;
}
.magnifying-glass-1976105-1280-icon4 {
  height: 35px;
  width: 35.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.search-bar5 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.details-retro-pong-icon4 {
  align-self: stretch;
  height: 21px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.f-a-q-content-frame {
  width: 247px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-group1 {
  align-self: stretch;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.avatar-2-icon4,
.avatar-2-icon5,
.avatar-2-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar-2-icon4 {
  display: none;
  z-index: 3;
}
.avatar-2-icon5,
.avatar-2-icon6 {
  z-index: 7;
}
.avatar-2-icon6 {
  z-index: 11;
}
.avatar-frame1 {
  height: 250px;
  width: 250px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}
.frequently-asked-questions,
.what-is-the {
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frequently-asked-questions {
  width: 832px;
  height: 66px;
  justify-content: center;
  max-width: 100%;
}
.what-is-the {
  width: 1543px;
  height: 56px;
  max-width: 247%;
}
.what-is-the-purpose-of-this-we-wrapper {
  width: 624px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 27px);
}
.log-in-frame {
  height: 27px;
  width: 27px;
  position: relative;
  z-index: 1;
}
.details-retropong {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.about6 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-40xl);
}
.about6,
.f-a-q-container,
.f-a-q-frame,
.pong-logo-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.f-a-q-frame {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  min-width: 1003px;
}
.f-a-q-container,
.pong-logo-frame {
  align-self: stretch;
}
.pong-logo-frame {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-27xl);
}
.f-a-q-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.faq-child2 {
  width: 207px;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  z-index: 10;
}
.log-in5,
.log-in6,
.log-in7 {
  height: 70.3px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  white-space: nowrap;
  z-index: 2;
}
.log-in6,
.log-in7 {
  z-index: 6;
}
.log-in7 {
  z-index: 10;
  margin-left: -207px;
}
.log-in-container,
.what-is-purpose {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.what-is-purpose {
  flex: 1;
  margin-left: -207px;
}
.log-in-container {
  align-self: stretch;
}
.pong-retro-logo-4-icon26 {
  position: absolute;
  top: -0.1px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  z-index: 1;
}
.pong-retro-logo-4-icon27,
.pong-retro-logo-4-icon28 {
  position: absolute;
  top: -0.1px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
}
.pong-retro-logo-4-icon28 {
  z-index: 9;
}
.log-in-log-in {
  align-self: stretch;
  height: 23px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  margin-top: -16px;
}
.polygon,
.sign-up8 {
  align-self: stretch;
  display: flex;
}
.polygon {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up8 {
  height: 70.3px;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  white-space: nowrap;
  z-index: 8;
}
.signup-frame {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
  z-index: 6;
}
.pong-retro-logo-4-icon29 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 7;
}
.login-frame {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.log-in4,
.sign-up-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
}
.log-in4 {
  height: 188px;
  width: 207px;
  gap: var(--gap-6xl);
}
.how-can-i,
.this-website-allows {
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.this-website-allows {
  align-self: stretch;
  height: 113px;
}
.how-can-i {
  width: 1543px;
  height: 56px;
  max-width: 247%;
}
.question-frame {
  width: 624px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 27px);
}
.polygon-frame-icon {
  height: 27px;
  width: 27px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.f-a-q-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.can-i-participate {
  width: 1543px;
  height: 56px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 268%;
}
.can-i-participate-in-tournamen-wrapper {
  width: 575px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 27px);
}
.f-a-q-frame-child {
  height: 27px;
  width: 27px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.f-a-q-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.how-to-play-frame,
.info-frame {
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.how-to-play-frame {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: 23px;
}
.info-frame {
  flex: 1;
  gap: var(--gap-36xl);
  min-width: 1003px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.faq4,
.info-frame,
.pong-website,
.sign-up-frame {
  display: flex;
  justify-content: flex-start;
}
.pong-website {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-49xl);
  max-width: 100%;
}
.faq4,
.sign-up-frame {
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.sign-up-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-2xl);
  max-width: 100%;
  margin-top: -10px;
}
.faq4 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-12xl) var(--padding-22xl) 382px var(--padding-21xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1150px) {
  .f-a-q-frame,
  .info-frame {
    min-width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .frequently-asked-questions,
  .sign-up6,
  .sign-up7 {
    font-size: var(--font-size-13xl);
  }
  .what-is-the {
    font-size: var(--font-size-7xl);
  }
  .log-in5,
  .log-in6,
  .log-in7,
  .sign-up8 {
    font-size: var(--font-size-13xl);
  }
  .can-i-participate,
  .how-can-i,
  .this-website-allows {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .about6 {
    gap: var(--gap-40xl);
  }
  .pong-logo-frame {
    gap: var(--gap-27xl);
  }
  .info-frame {
    gap: var(--gap-36xl);
  }
  .pong-website {
    gap: var(--gap-49xl);
  }
}
@media screen and (max-width: 450px) {
  .frequently-asked-questions,
  .sign-up6,
  .sign-up7 {
    font-size: var(--font-size-5xl);
  }
  .what-is-the {
    font-size: var(--font-size-lgi);
  }
  .log-in5,
  .log-in6,
  .log-in7,
  .sign-up8 {
    font-size: var(--font-size-5xl);
  }
  .can-i-participate,
  .how-can-i,
  .this-website-allows {
    font-size: var(--font-size-lgi);
  }
  .pong-website {
    gap: var(--gap-49xl);
  }
}
