.home-page-after-log-inalt-child {
  width: 207px;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  z-index: 1;
}
.pong-retro-logo-2-icon {
  height: 111.2px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.search-bar-frame3 {
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.avatar-2-icon7 {
  width: 250px;
  height: 250px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.search-bar-frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: 5px;
}
.user-name6 {
  width: 207px;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.history12,
.logo-frame4,
.user-name6 {
  display: flex;
  align-items: center;
}
.logo-frame4 {
  width: 253px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-lg) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
}
.history12 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.about-frame5 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon54 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.f-a-q-frame4 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button-wrapper5,
.standar-button27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.standar-button27 {
  align-self: stretch;
  height: 85px;
  padding: 0 0 var(--padding-12xs);
  cursor: pointer;
}
.standar-button-wrapper5 {
  height: 118px;
  width: 207px;
  padding: var(--padding-14xl) 0 0;
}
.faq12 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.frame-child34 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon55 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent31 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button-wrapper6,
.standar-button28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.standar-button28 {
  align-self: stretch;
  height: 85px;
  padding: 0 0 var(--padding-12xs);
  cursor: pointer;
}
.standar-button-wrapper6 {
  height: 118px;
  width: 207px;
  padding: var(--padding-14xl) 0 0;
}
.about13 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.frame-child35 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon56 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent32 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button-wrapper7,
.standar-button29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.standar-button29 {
  align-self: stretch;
  height: 85px;
  padding: 0 0 var(--padding-12xs);
  cursor: pointer;
}
.standar-button-wrapper7 {
  height: 122px;
  width: 207px;
  padding: var(--padding-18xl) 0 0;
}
.search-bar-child9 {
  height: 35px;
  width: 247px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: none;
}
.magnifying-glass-1976105-1280-icon11 {
  height: 35px;
  width: 35.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.search-bar12 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.details-retro-pong-icon11 {
  align-self: stretch;
  height: 21px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.search-bar-parent1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-wrapper4,
.logo-frame-group,
.search-bar-parent1 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper4 {
  width: 247px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-33xl) 0 0;
  box-sizing: border-box;
}
.logo-frame-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.home-page-after-log-inalt-item {
  width: 207px;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  z-index: 3;
}
.blue-triangule-border72 {
  width: 200px;
  height: 10px;
  position: relative;
  z-index: 2;
}
.standar-button-blue-child64 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  z-index: 0;
}
.my-profile43 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.history-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.blue-triangule-border73 {
  align-self: stretch;
  height: 10px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.elo-13556,
.rank-3rd6 {
  margin: 0;
}
.elo-1355-container9 {
  width: 100%;
}
.elo-1355-container8 {
  width: 100%;
  height: 100px;
  position: absolute;
  margin: 0 !important;
  bottom: -19px;
  left: 0;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 5;
}
.blue-border-frame,
.standar-button-blue67 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.standar-button-blue67 {
  height: 75px;
  align-items: center;
  padding: 0 var(--padding-10xs) var(--padding-10xs) 0;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.blue-border-frame {
  height: 87px;
  align-items: flex-end;
  gap: var(--gap-11xs);
}
.standar-button-blue-child65 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-crimson);
  display: none;
}
.my-profile44 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue68 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-crimson);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.standar-button-blue-child66 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-crimson);
  display: none;
  z-index: 0;
}
.play6 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border74,
.blue-triangule-border75 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border75 {
  top: 7.3px;
  z-index: 4;
}
.blue-triangle-border-frame {
  height: 17px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standaart-button-blue23,
.standar-button-blue69 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.standar-button-blue69 {
  flex: 1;
  background-color: var(--color-crimson);
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  z-index: 3;
}
.standaart-button-blue23 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-6xs) 0 0;
  cursor: pointer;
  z-index: 6;
}
.standar-button-blue-child67 {
  align-self: stretch;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.my-profile45 {
  height: 62px;
  width: 207px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.blue-triangule-border76,
.standar-button-blue-child68 {
  height: 10px;
  width: 200px;
  position: relative;
  display: none;
}
.standar-button-blue-child68 {
  height: 70.3px;
  width: 207px;
  background-color: var(--color-steelblue);
}
.social7,
.standar-button-blue71 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.social7 {
  height: 62px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue71 {
  background-color: var(--color-steelblue);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  z-index: 3;
}
.blue-triangule-border77 {
  height: 10px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 26px;
  z-index: 4;
}
.standar-button-blue-child69,
.standar-button-blue70 {
  position: relative;
  background-color: var(--color-steelblue);
}
.standar-button-blue70 {
  cursor: pointer;
  border: 0;
  padding: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.standar-button-blue-child69 {
  height: 70.3px;
  width: 207px;
  display: none;
}
.my-profile46 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue72 {
  width: 207px;
  background-color: var(--color-steelblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.standar-button-blue-child70 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.my-profile47 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border78,
.blue-triangule-border79 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border79 {
  top: 7.3px;
  z-index: 4;
}
.blue-triangule-border-parent17 {
  height: 17px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standaart-button-blue24,
.standar-button-blue73 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.standar-button-blue73 {
  flex: 1;
  margin: 0 !important;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  z-index: 3;
}
.standaart-button-blue24 {
  padding: 0 0 var(--padding-6xs);
  position: relative;
  cursor: pointer;
}
.standar-button-blue-child71 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.my-profile48 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue74 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-steelblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  white-space: nowrap;
}
.standar-button-blue-child72 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.stats6 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border80,
.blue-triangule-border81 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border81 {
  top: 7.3px;
  z-index: 4;
}
.blue-triangule-border-parent18 {
  height: 17px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standaart-button-blue25,
.standar-button-blue75 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.standar-button-blue75 {
  flex: 1;
  background-color: var(--color-steelblue);
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  z-index: 3;
}
.standaart-button-blue25 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-6xs) 0 0;
  cursor: pointer;
}
.standar-button-blue-child73 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.my-profile49 {
  height: 62px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border82,
.blue-triangule-border83 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.blue-triangule-border83 {
  z-index: 4;
}
.settings-frame,
.standar-button-blue76 {
  height: 10px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standar-button-blue76 {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.standar-button-blue-child74 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.settings7,
.standar-button-blue77 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.settings7 {
  height: 62px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue77 {
  background-color: var(--color-steelblue);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  z-index: 3;
}
.log-out6,
.standaart-button-blue26 {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.standaart-button-blue26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
}
.log-out6 {
  height: 70.3px;
  font-weight: 800;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.profile-frame-child {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon57 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.profile-frame2 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.logout-button1,
.standar-button30 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.standar-button30 {
  height: 85px;
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  cursor: pointer;
}
.logout-button1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
}
.blue-border-frame-parent,
.details-retropong-frame,
.standalone-blue-button {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.standalone-blue-button {
  gap: var(--gap-5xs);
  font-size: var(--font-size-21xl);
}
.blue-border-frame-parent,
.details-retropong-frame {
  gap: var(--gap-smi);
}
.blue-border-frame-parent {
  gap: var(--gap-18xl);
}
.home-page-after-log-inalt,
.standar-button-blue66 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.standar-button-blue66 {
  width: 253px;
  height: 640px;
  flex-direction: row;
  padding: 0 var(--padding-2xl);
  margin-top: -5px;
}
.home-page-after-log-inalt {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-8xl) 45px var(--padding-3xs) var(--padding-14xl);
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
@media screen and (max-width: 975px) {
  .home-page-after-log-inalt {
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .elo-1355-container8,
  .my-profile43,
  .my-profile45,
  .my-profile47,
  .my-profile49,
  .play6,
  .settings7,
  .social7,
  .stats6 {
    font-size: var(--font-size-7xl);
  }
  .log-out6 {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 450px) {
  .elo-1355-container8,
  .my-profile43,
  .my-profile45,
  .my-profile47,
  .my-profile49,
  .play6,
  .settings7,
  .social7,
  .stats6 {
    font-size: var(--font-size-lgi);
  }
  .log-out6 {
    font-size: var(--font-size-5xl);
  }
}
