.home-page-before-login-alt-child {
  width: 207px;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
}
.pong-retro-logo-3-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.pong-retro-logo-3-wrapper {
  align-self: stretch;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.standar-button-icon {
  height: 70.3px;
  width: 207px;
  position: absolute;
  margin: 0 !important;
  bottom: -4px;
  left: -139px;
}
.standar-button-child {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  z-index: 1;
}
.history,
.pong-retro-logo-4-icon {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.history {
  height: 70.3px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.pong-retro-logo-4-icon {
  height: 23.1px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
  margin-top: -16px;
}
.standar-button {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
  cursor: pointer;
  z-index: 1;
}
.standar-button,
.standard-button,
.standard-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.standard-button {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.standard-button-wrapper {
  width: 207px;
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.faq {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.log-in-signup-button-child {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon1 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.log-in-signup-button {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.search-bar,
.standar-button1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.standar-button1 {
  align-self: stretch;
  height: 85px;
  padding: 0 0 var(--padding-12xs);
  cursor: pointer;
}
.search-bar {
  height: 89px;
  width: 207px;
  padding: 0 0 var(--padding-9xs);
}
.about {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.frame-child {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon2 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button2 {
  height: 85px;
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  cursor: pointer;
}
.search-bar-child {
  height: 35px;
  width: 247px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: none;
}
.magnifying-glass-1976105-1280-icon {
  height: 35px;
  width: 35.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.search-bar1 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.details-retro-pong-icon {
  align-self: stretch;
  height: 21px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sign-up-button-frame {
  width: 247px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-parent {
  align-self: stretch;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.avatar-2-icon {
  width: 250px;
  height: 250px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.log-in,
.pong-retro-logo-4-icon3 {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.log-in {
  height: 70.3px;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  white-space: nowrap;
  z-index: 2;
}
.pong-retro-logo-4-icon3 {
  height: 23.1px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
  margin-top: -16px;
}
.log-in-signup-texts,
.sign-up {
  align-self: stretch;
  display: flex;
}
.log-in-signup-texts {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up {
  height: 70.3px;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  white-space: nowrap;
  z-index: 2;
}
.pongretro-logo-rectangle {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 100%;
  height: 100%;
}
.pong-retro-logo-4-icon4 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.pongretro-logo-rectangle-parent {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button3 {
  cursor: pointer;
  border: 0;
  padding: 0 0 var(--padding-12xs);
  background-color: transparent;
  align-self: stretch;
  height: 85px;
  align-items: flex-start;
  box-sizing: border-box;
}
.left-column-frame,
.log-in-signup-buttons-frame,
.standar-button3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.log-in-signup-buttons-frame {
  align-self: stretch;
  height: 188px;
  align-items: flex-start;
  padding: 0 var(--padding-3xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
  margin-top: -8px;
}
.left-column-frame {
  width: 250px;
  align-items: center;
  min-width: 250px;
}
.blank-line,
.blank-line1,
.blank-line2,
.experience-real-time-multiplay,
.make-pong-great,
.sign-up-challenge,
.welcome-to-the {
  margin: 0;
}
.welcome-to-the-container {
  height: 770px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  min-width: 450px;
  max-width: 100%;
}
.log-in-sign-up-buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  min-width: 640px;
  max-width: 100%;
}
.a5ef0ecd-1119-4930-8848-bf53a2-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.gray-rectangle,
.welcome-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.gray-rectangle {
  height: 850px;
  width: 735px;
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 735px;
}
.welcome-text {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-101xl);
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-lightyellow-200);
  font-family: var(--font-inter);
}
.home-page-before-login-alt {
  width: 100%;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-31xl) 73px var(--padding-12xl);
  box-sizing: border-box;
  gap: 21px;
  letter-spacing: normal;
}
@media screen and (max-width: 1575px) {
  .a5ef0ecd-1119-4930-8848-bf53a2-icon {
    align-self: stretch;
    width: auto;
  }
  .gray-rectangle {
    flex: 1;
  }
  .welcome-text {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1250px) {
  .gray-rectangle {
    min-width: 100%;
  }
  .home-page-before-login-alt {
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .log-in,
  .sign-up {
    font-size: var(--font-size-13xl);
  }
  .left-column-frame {
    flex: 1;
  }
  .welcome-to-the-container {
    font-size: var(--font-size-13xl);
    min-width: 100%;
  }
  .log-in-sign-up-buttons {
    flex-wrap: wrap;
    gap: var(--gap-22xl);
    min-width: 100%;
  }
  .welcome-text {
    gap: var(--gap-101xl);
  }
}
@media screen and (max-width: 450px) {
  .log-in,
  .sign-up,
  .welcome-to-the-container {
    font-size: var(--font-size-5xl);
  }
  .welcome-text {
    gap: var(--gap-101xl);
  }
}
