.my-profile-child {
  position: absolute;
  top: 372.7px;
  left: 64px;
  background-color: var(--color-gray);
  width: 207px;
  height: 70.3px;
  display: none;
}
.avatar-3-icon5,
.pong-retro-logo-3-icon10 {
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.pong-retro-logo-3-icon10 {
  align-self: stretch;
  height: 111.2px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar-3-icon5 {
  width: 250px;
  height: 250px;
}
.avatar1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-name5 {
  height: 70.3px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.user-name-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 19px 0 var(--padding-5xl);
  margin-top: -18px;
}
.history11,
.profile-pic-frame {
  display: flex;
  align-items: center;
}
.profile-pic-frame {
  width: 250px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-13xl);
}
.history11 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.logo-frame3 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 207px;
  height: 70.3px;
}
.pong-retro-logo-4-icon50 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.logo-frame-parent {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button-wrapper2,
.standar-button23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.standar-button23 {
  align-self: stretch;
  height: 85px;
  padding: 0 0 var(--padding-12xs);
  cursor: pointer;
}
.standar-button-wrapper2 {
  height: 118px;
  width: 207px;
  padding: var(--padding-14xl) 0 0;
}
.faq11 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.frame-child31 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 207px;
  height: 70.3px;
}
.pong-retro-logo-4-icon51 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent28 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button-wrapper3,
.standar-button24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.standar-button24 {
  align-self: stretch;
  height: 85px;
  padding: 0 0 var(--padding-12xs);
  cursor: pointer;
}
.standar-button-wrapper3 {
  height: 118px;
  width: 207px;
  padding: var(--padding-14xl) 0 0;
}
.about12 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.frame-child32 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 207px;
  height: 70.3px;
}
.pong-retro-logo-4-icon52 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent29 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.standar-button-wrapper4,
.standar-button25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.standar-button25 {
  align-self: stretch;
  height: 85px;
  padding: 0 0 var(--padding-12xs);
  cursor: pointer;
}
.standar-button-wrapper4 {
  height: 122px;
  width: 207px;
  padding: var(--padding-18xl) 0 0;
}
.search-bar-child8 {
  height: 35px;
  width: 247px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: none;
}
.magnifying-glass-1976105-1280-icon10 {
  height: 35px;
  width: 35.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.search-bar11 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightyellow-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.details-retro-pong-icon10 {
  align-self: stretch;
  height: 21px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.button-frame-blue,
.elo-rank-text1,
.profile-pic-frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.elo-rank-text1 {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.button-frame-blue,
.profile-pic-frame-parent {
  width: 247px;
  padding: var(--padding-33xl) 0 0;
  box-sizing: border-box;
}
.profile-pic-frame-parent {
  position: absolute;
  top: 22px;
  left: 40px;
  width: 1839px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
.my-profile-item {
  position: absolute;
  top: 449px;
  left: 61px;
  background-color: var(--color-gray);
  width: 207px;
  height: 70.3px;
  display: none;
}
.blue-triangule-border60 {
  width: 200px;
  height: 10px;
  position: relative;
  z-index: 2;
}
.standar-button-blue-child53 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
}
.my-profile36 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.my-profile-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.blue-triangule-border61 {
  align-self: stretch;
  height: 10px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.standar-button-blue55 {
  align-self: stretch;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) var(--padding-10xs) 0;
  box-sizing: border-box;
  z-index: 2;
}
.elo-13555,
.rank-3rd5 {
  margin: 0;
}
.elo-1355-container7 {
  align-self: stretch;
  height: 100px;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 5;
  margin-top: -63px;
}
.button-frame-blue-my-profile {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.blue-triangule-border-parent14 {
  position: absolute;
  top: 430px;
  left: 61px;
  width: 207px;
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.blue-triangule-border62 {
  position: absolute;
  top: 696.3px;
  left: 65px;
  width: 200px;
  height: 10px;
  z-index: 4;
}
.standar-button-blue-child54 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-crimson);
  display: none;
}
.my-profile37,
.standar-button-blue56 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.my-profile37 {
  height: 62px;
  position: relative;
  font-weight: 800;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue56 {
  background-color: var(--color-crimson);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
}
.standar-button-blue-child55 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-crimson);
  display: none;
  z-index: 0;
}
.play5 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border63,
.blue-triangule-border64 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border64 {
  top: 7.3px;
  z-index: 4;
}
.logoutbutton {
  height: 17px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standaart-button-blue20,
.standar-button-blue57 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.standar-button-blue57 {
  width: calc(100% - 4px);
  margin: 0 !important;
  position: absolute;
  right: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--color-crimson);
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  z-index: 3;
}
.standaart-button-blue20 {
  align-self: stretch;
  padding: 0 var(--padding-9xs) var(--padding-6xs) 0;
  position: relative;
  cursor: pointer;
  z-index: 6;
}
.standar-button-blue-child56 {
  align-self: stretch;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.my-profile38 {
  height: 62px;
  width: 207px;
  position: relative;
  font-weight: 800;
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.blue-triangule-border65,
.standar-button-blue-child57 {
  height: 10px;
  width: 200px;
  position: relative;
  display: none;
}
.standar-button-blue-child57 {
  height: 70.3px;
  width: 207px;
  background-color: var(--color-steelblue);
}
.social6 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue58,
.standar-button-blue59 {
  background-color: var(--color-steelblue);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.standar-button-blue59 {
  flex: 1;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  z-index: 3;
}
.standar-button-blue58 {
  align-self: stretch;
  align-items: center;
}
.standar-button-blue-child58 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.my-profile39,
.standar-button-blue60 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.my-profile39 {
  height: 62px;
  position: relative;
  font-weight: 800;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue60 {
  background-color: var(--color-steelblue);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
}
.blue-triangule-border66 {
  align-self: stretch;
  height: 10px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.standar-button-blue-child59 {
  align-self: stretch;
  height: 70.3px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.my-profile40 {
  height: 62px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.username-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.blue-triangule-border67 {
  align-self: stretch;
  height: 10px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}
.standar-button-blue61 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-10xs) var(--padding-10xs) 0;
  background-color: var(--color-steelblue);
  align-self: stretch;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 3;
}
.my-profile-button1,
.profilepictureframe {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.my-profile-button1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  margin-left: -207px;
}
.profilepictureframe {
  height: 82px;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.standar-button-blue-child60 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.my-profile41,
.standar-button-blue62 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.my-profile41 {
  height: 62px;
  position: relative;
  font-weight: 800;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue62 {
  background-color: var(--color-steelblue);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
}
.standar-button-blue-child61 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.stats5 {
  height: 62px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border68,
.blue-triangule-border69 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border69 {
  top: 7.3px;
  z-index: 4;
}
.blue-triangule-border-parent15 {
  height: 17px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standaart-button-blue21,
.standar-button-blue63 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.standar-button-blue63 {
  width: calc(100% - 4px);
  margin: 0 !important;
  position: absolute;
  right: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  z-index: 3;
}
.standaart-button-blue21 {
  align-self: stretch;
  padding: 0 var(--padding-9xs) var(--padding-6xs) 0;
  position: relative;
  cursor: pointer;
}
.standar-button-blue-child62 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  z-index: 0;
}
.my-profile42 {
  height: 62px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.blue-triangule-border70,
.blue-triangule-border71 {
  position: absolute;
  top: 0.3px;
  left: 0;
  width: 200px;
  height: 10px;
  z-index: 2;
}
.blue-triangule-border71 {
  z-index: 4;
}
.blue-triangule-border-parent16,
.standar-button-blue64 {
  height: 10px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  right: 3px;
  bottom: 3.3px;
}
.standar-button-blue64 {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-steelblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.standar-button-blue-child63 {
  height: 70.3px;
  width: 207px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
}
.settings6,
.standar-button-blue65 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.settings6 {
  height: 62px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-cornsilk);
  text-align: center;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.standar-button-blue65 {
  background-color: var(--color-steelblue);
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  z-index: 3;
}
.log-out5,
.standaart-button-blue22 {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.standaart-button-blue22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
}
.log-out5 {
  height: 70.3px;
  font-weight: 800;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 2;
}
.frame-child33 {
  position: absolute;
  top: -0.3px;
  left: 0;
  background-color: var(--color-gray);
  width: 207px;
  height: 70.3px;
}
.pong-retro-logo-4-icon53 {
  position: absolute;
  top: 46.9px;
  left: 0;
  width: 207px;
  height: 23.1px;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent30 {
  align-self: stretch;
  height: 70px;
  position: relative;
  margin-top: -77px;
}
.logout-frame1,
.standar-button26 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.standar-button26 {
  height: 85px;
  flex-direction: column;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  cursor: pointer;
}
.logout-frame1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
}
.play-stats-buttons,
.standaart-button-blue-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.play-stats-buttons {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-5xs);
  font-size: var(--font-size-21xl);
}
.standaart-button-blue-parent1 {
  position: absolute;
  top: 549px;
  left: 61px;
  width: 211px;
  height: 521px;
  gap: var(--gap-smi);
}
.my-profile35 {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--color-gray);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-cornsilk);
  font-family: var(--font-inter);
}
