
* {
    box-sizing: border-box;
}

/*root*/
:root {
    --primary-color: rgb(26, 33, 59);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(0, 0, 0);
    --quaternary-color: rgb(0, 0, 0);
    --quinary-color: rgb(0, 0, 0);
    --senary-color: rgb(0, 0, 0);
    --septenary-color: rgb(0, 0, 0);
    --octonary-color: rgb(0, 0, 0);
    --nonary-color: rgb(0, 0, 0);
    --denary-color: rgb(0, 0, 0);

}

/*body*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 0;
}

/*header*/
header {
    padding: 0;
    background-color: rgb(26, 33, 59);
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    list-style-type: none;
    padding: 10px;
}


/* logo */
.logo {
    width: 150px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* ul my-nav */
.my-nav {
    display: flex;
    flex: 0 0 50%; /* Adjust according to sidebar width */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

}

/*nav-items*/
.my-nav-item {
    min-width: 100px;
    padding-bottom: 0px;
    text-align: center;
}

/*nav-links*/
.my-nav-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.my-nav-link:hover {
    color: #ffd700;
}

.my-nav-link:active {
    color: #ffd700;
}

.my-navbar-brand.active {
    border-bottom: 2px solid #ffd700; /* Add underline to active link for clarity */
}

/*sidebar*/
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 150px;
    background-color: rgb(26, 33, 59);    
    margin-top: 300px;
}





