
* {
    box-sizing: border-box;
}

/*root*/
:root {
    --primary-color: rgb(26, 33, 59);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(0, 0, 0);
    --quaternary-color: rgb(0, 0, 0);
    --quinary-color: rgb(0, 0, 0);
    --senary-color: rgb(0, 0, 0);
    --septenary-color: rgb(0, 0, 0);
    --octonary-color: rgb(0, 0, 0);
    --nonary-color: rgb(0, 0, 0);
    --denary-color: rgb(0, 0, 0);

}

/*body*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 0;
}

/*header*/
header {
    padding: 0;
    background-color: rgb(26, 33, 59);
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    list-style-type: none;
    padding: 10px;
}


/* logo */
.logo {
    width: 150px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* ul my-nav */
.my-nav {
    display: flex;
    flex: 0 0 50%; /* Adjust according to sidebar width */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;

}

/*nav-items*/
.my-nav-item {
    min-width: 100px;
    width: 100%;
    padding: 0px;
    padding-bottom: 0px;
    text-align: center;
    position: relative;
    list-style: none;
}

.my-nav-item:hover {
    border-bottom: 2px solid #ff5870;
    background-color: rgba(255, 255, 255, 0.1);
}

.my-nav-item:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px; /* Adjust this value to change the gap between the lines */
    height: 2px;
    width: 100%;
    background-color: #ff5870;
    
}

/*nav-links*/
.my-nav-link {
    display: block;
    /*maximize the clickable area*/
    padding: auto 10px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

/*navbar responsive*/
@media screen and (max-width: 600px) {
    .my-navbar {
        height: 150px;
        justify-content: center;
    }
    /*logo*/
    .logo {
        padding-bottom: 10%;
    }
    /*center the nav*/
    .my-nav {
        flex: 0 0 100%;
        justify-content: center;
        padding: 10px ;
    }
}

/*sidebar*/
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 150px;
    background-color: rgb(26, 33, 59);    
    margin-top: 300px;
}





