#my-profile {
    display: none;
    padding: 10px;
}

.profile-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-stats {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.stat {
    flex: 1 1 calc(50% - 10px);
    margin-right: 20px;
}

.stat:last-child {
    margin-right: 0;
}

.stat-label {
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

.stat-value {
    font-size: 18px;
    color: #333;
}

.match-history-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.match-history-list {
    list-style: none;
    padding: 0;
}

.match-history-list li {
    margin-bottom: 5px;
    color: #555;
}

.leaderboard-position {
    font-size: 16px;
    margin-top: 20px;
    color: #777;
}

/* stats */

#stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player-card {
    display: flex;
    align-items: center;
}

#player-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#all-time-stats-container {
    display: flex;
    justify-content: space-between;
}

.all-time-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 135px; /* Adjust the min-width as needed */
    margin: 5px; /* Add margin for spacing */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

#player-card-info {
    /* display: flex; */
    align-items: left;
    margin-bottom: 20px;
}

#player-card-info p{
    margin: 0;
    /* text size */
    font-size: 20px;
    padding: 0;
}



#graphs-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#game-type-tabs {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.game-type-tab {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px;
    min-width: 120px;
}

/* #match-history-container {
    margin-top: 5rem !important;
} */