#my-profile {
    display: none;
    padding: 10px;
}

.profile-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-stats {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.stat {
    flex: 1 1 calc(50% - 10px);
    margin-right: 20px;
}

.stat:last-child {
    margin-right: 0;
}

.stat-label {
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

.stat-value {
    font-size: 18px;
    color: #333;
}

.match-history-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.match-history-list {
    list-style: none;
    padding: 0;
}

.match-history-list li {
    margin-bottom: 5px;
    color: #555;
}

.leaderboard-position {
    font-size: 16px;
    margin-top: 20px;
    color: #777;
}

/* stats */

#stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player-card {
    display: flex;
    align-items: center;
}

#player-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#all-time-stats-container {
    display: flex;
    justify-content: space-between;
}

.all-time-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 135px; /* Adjust the min-width as needed */
    margin: 5px; /* Add margin for spacing */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

#player-card-info {
    /* display: flex; */
    align-items: left;
    margin-bottom: 20px;
}

#player-card-info p{
    margin: 0;
    /* text size */
    font-size: 20px;
    padding: 0;
}



#graphs-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#game-type-tabs {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.game-type-tab {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px;
    min-width: 120px;
}

/* Match History */

.match-history-container {
    padding-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    padding-left: 20px;
}

/* General match history container styles */
#matchHistory {
    padding-top: 10px;
    max-height: 600px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* Ensures that children (cards) stretch to fill available vertical space */
    justify-content: left;
}

/* Styles for individual cards within the match history */
.card {
    cursor: pointer;
    flex: 0 0 31%; /* Adjusts the basis for each card depending on the number per row */
    display: flex; /* Makes the card a flex container */
    flex-direction: column;
    border-top-width: 5px !important;
    border-top-style: solid !important;
    border-top-color: transparent !important;
    transition: transform 0.2s;
    margin: 15px; /* Adds spacing between cards */
    background-color: #fff; /* Ensures background color is white */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adds subtle shadow for better depth */
    height: 200px !important; /* Ensures a consistent height for all cards */
}

.card-win {
    border-top-color: #28a745 !important; /* Green top border for wins */
}

.card-loss {
    border-top-color: #dc3545 !important; /* Red top border for losses */
}

.card:hover {
    background-color: #ebedee;
    transform: scale(1.03);
}

/* Ensuring the card content is well organized and visually balanced */
.card-body {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    padding: 20px;
    min-height: 200px;
    flex: 1; /* Allows the body to expand and fill the card */
}

.card-body::after {
    /*rotate this arrow*/
    content: "▼";
    transform: rotate(-90deg);
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.2em;
    color: #ccc;
    transition: transform 0.3s ease, color 0.3s ease;
}
/*hover effect for the arrow*/
.card-body:hover::after {
    color: #333;}

.card-stats::after {
    content: "▼";
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.2em;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
}

.card-stats:hover::after {
    color: #ccc;
}


.card-body.justify-content-between {
    justify-content: start !important;
}

.card-text {
    margin-bottom: 0.5rem;
}

.card-text-right {
    text-align: right;
}

.card-body-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-width: thin;
    border-bottom-style: outset;
}

.card-body-top-info {
    align-items: center;
}

/* Special styling for game mode names based on win/loss */
.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

/* Responsive and space-efficient score container */
.score-container {
    display: flex;
    flex-wrap: wrap;
}

.score-col {
    flex: 0 0 50%;
    text-align: right;
    display: flex;
    padding: 5px 20px;
    justify-content: space-around;
}

.score-text {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: blue;
}

/* Specific styles for Double Pong */
.score-name {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.score-value {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    color: red;
}

#matchHistory .card .card-body.hidden {
    display: none !important;
}

.win-form {
    color: green;
    font-family: 'Arial';
    font-size: 24px;
}

.loss-form {
    color: red;
    font-family: 'Arial';
    font-size: 24px;
}

/* Adjustments for small screens */
@media (max-width: 992px) {
    .card {
        flex: 1 0 46%; /* Adjusts cards to take about half the width on medium screens */
    }
}

@media (max-width: 576px) {
    .card {
        flex: 1 0 100%; /* Full width on smaller screens */
    }
    .score-col {
        flex: 0 0 100%; /* Full width for score columns on smaller screens */
    }
}

.list-group-item {
    background-color: transparent; /* Makes the background of the list items transparent */
    border: none; /* Removes borders from list items for a cleaner look */
    padding-left: 0; /* Adjust padding as needed */
    padding-right: 0; /* Adjust padding as needed */
}

