/********** sign up Section **********/

/* Targeting the sign up section */
#sign-up,
#sign-up-guest,
#dp-sign-up-guest {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    width: 350px;
}

/* Styling for headings */
#sign-up h2,
#sign-up-guest h2,
#dp-sign-up-guest h2{
    color: #333;
}

/* Styling for paragraph */
#sign-up p,
#sign-up-guest p,
#dp-sign-up-guest p{
    color: #666;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
}


/* Styling for input fields */
#sign-up input[type="text"],
#sign-up input[type="email"],
#sign-up input[type="password"],
#sign-up input[type="submit"],
#sign-up-guest input[type="text"],
#sign-up-guest input[type="email"],
#sign-up-guest input[type="password"],
#sign-up-guest input[type="submit"],
#dp-sign-up-guest input[type="text"],
#dp-sign-up-guest input[type="email"],
#dp-sign-up-guest input[type="password"],
#dp-sign-up-guest input[type="submit"]{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Styling for submit button */
#sign-up input[type="submit"],
#sign-up-guest input[type="submit"],
#dp-sign-up-guest input[type="submit"]{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-right: 10px;
}

.sign-up-toggle2FA {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  

/* Hover effect for submit button */
#sign-up input[type="submit"]:hover,
#sign-up-guest input[type="submit"]:hover, 
#dp-sign-up-guest input[type="submit"]:hover{
    background-color: #0056b3;
}

/* Styling for login link */
#sign-up a,
#sign-up-guest a,
#dp-sign-up-guest a{
    color: #007bff;
    text-decoration: none;
}

/* Hover effect for login link */
#sign-up a:hover,
#sign-up-guest a:hover,
#dp-sign-up-guest a:hover{
    text-decoration: underline;
}

.icon {
    color: red;
}

.valid .icon {
    color: green;
}

.invalid .icon {
    color: red;
}

.password-requirements {
    text-align: left;
    padding: 10px;
  }
  
#sign-up h6,
#sign-up-guest h6,
#dp-sign-up-guest h6{
    padding: 10px;
}


#qr-code-img > img:nth-child(1) {
  width: 200px;
}


.form-group {
  padding-bottom: 10px;
}

.my-qr-code {
  padding-top: 10px;
  margin: 0 auto;
}


/* Element | https://localhost:8443/#Two-factor-auth */

.mr-2 {
    width: 100%;
    margin: 10px 0;
  }
  
  /* sign-up.css | https://localhost:8443/static/css/main-content/sidebar-sections/sign-up.css? */
  
  .my-qr-code {
    /* align-content: center; */
    text-align: center;
  }
  