version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: transcendence
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
