{% load static %}
<section id="about">
	<!-- Content for About section -->
	<h2>Our Mission</h2>
	<p>Our goal is to provide a dynamic platform for Pong enthusiasts to engage in real-time multiplayer battles, exciting tournaments, and seamless gameplay experiences.</p>
	<h2>Meet the Team</h2>
	<div class="team-members">
		<!-- Team members -->
		<div class="team-member">
			<img src="{% static 'images/abaiao-r.jpg' %}" alt="Team Member 1">
			<div class="member-info">
				<p class="name">André Francisco</p>
				<p class="description">Chief Pong Officer (CPO) - Ensuring that every bounce is as satisfying as the last.</p>
			</div>
		</div>
		<div class="team-member">
			<img src="{% static 'images/gacorrei.jpg' %}" alt="Team Member 2">
			<div class="member-info">
				<p class="name">Gabriel Franco</p>
				<p class="description">Master of Paddle Arts - Swinging paddles with the finesse of a maestro.</p>
			</div>
		</div>
		<div class="team-member">
			<img src="{% static 'images/pedperei.jpg' %}" alt="Team Member 4">
			<div class="member-info">
				<p class="name">Pedro Bigote</p>
				<p class="description">Paddle Whisperer - Communicating with paddles on a level we mere mortals can only dream of.</p>
			</div>
		</div>
		<div class="team-member">
			<img src="{% static 'images/pedgonca.jpg' %}" alt="Team Member 5">
			<div class="member-info">
				<p class="name">Pedro Gonçalves</p>
				<p class="description">Chief Bounce Trooper (CBT) - Bouncing is not just a skill, it's a lifestyle.</p>

			</div>
		</div>
		<div class="team-member joao-img">
			<img src="{% static 'images/joao-per.jpg' %}" alt="Team Member 3">
			<div class="member-info">
				<p class="name">João Pereira (RIP)</p>
				<p class="description">Ball Whisperer - Communicating with balls on a level we mere mortals can only dream of.</p>
			</div>
		</div>
		<!-- Add more team members as needed -->
	</div>
</section>
