<section id="history" style="display: none;">
	{% load static %}
	<h1>History</h1>
			<div class="history-content">
				<div class="history-text">
					<p>Pong, the game that launched a thousand joysticks, burst onto the scene in 1972,
						captivating players with its addictive simplicity. With just two paddles and a
						bouncing ball, it sparked a gaming revolution.</p>
					<p>Atari's daring move to release a home edition in 1975 saw 150,000 units fly off
						shelves, cementing Pong's status as a cultural icon. Despite facing fierce
						competition from clones, Atari's innovative spirit shone with creations like "Double
						Pong," proving that in the game of gaming, innovation is king.</p>
					<p>Pong's legacy lives on, a timeless reminder that big revolutions can start with just
						a small bounce.</p>
				</div>
				<!-- Image for History section to be side by side with the content -->
				<div class="history-image">
					<img src="{% static 'images/pong-machine.png' %}" alt="Pong Machine">
				</div>
			</div>
</section>