<section class="home" id="home">
    {% load static %}
    <h2>Welcome to Pong Arena!</h2>
    <h2>Experience the thrill of pong like never before!</h2>
    <div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: gray;"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: gray;"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: gray;"></button>
        </div>       
        <!-- Carousel Slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/ScreenshotPong.png' %}" alt="Image 1" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Simple Pong</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ScreenshotDoublePong.png' %}" alt="Image 2" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Double Pong</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ScreenshotTournements.png' %}" alt="Image 3" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: black;">Tournaments</h5>
                </div>
            </div>
        </div>
        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
</section>