/* history section */
#history {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    
}

/*history-content*/
.history-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
}

/*history-text*/
.history-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    padding: 0px;
    
    margin: 0px;
}

.history-image{
    width: 30%;
    max-width: 300px;
    min-width: 200px;
}

.history-image img{
    width: 100%;
    height: auto;
}

.history-text p{
    padding: 10px;
    padding-left: 10px;
}
