#home {
    padding: 10px 10px;
    max-height: 100%;
}

.home h2 {
    font-size: 20px;
    color: #444;
    text-align: center;
    margin-bottom: 10px;
}

.game-description {
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

.cta {
    text-align: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}


#homeCarousel {
    display: flex !important;
    max-width: 90% !important;
    max-height: 90% !important;
    margin: auto !important;
    justify-content: center !important;
    align-items: center !important;
}

.carousel-inner {
    display: flex !important;
    align-items: center !important;
    width: 50% !important;
    aspect-ratio: 16 / 9 !important;
    overflow: hidden !important;
    margin: auto !important;
}

.carousel-item {
    flex: 0 0 auto !important;
    width: 100% !important;
}

.carousel-item img {
    width: 100% !important;
    height: 100% !important; /* Ensure all images are the same height */
    object-fit: cover !important; /* Cover the area while maintaining aspect ratio */
    display: block !important;
    margin: auto !important;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0); /* Darker background for better contrast */
    padding: 20px; /* More padding for better spacing */
    border-radius: 10px; /* Rounded corners for a smoother look */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0); /* Subtle shadow for a floating effect */
    color: #ffffff; /* White text for better readability */
    text-align: center; /* Centered text alignment */
    max-width: 70%; /* Constrain the width for better readability */
    margin: auto; /* Center the caption horizontally */
    font-size: 1.2rem; /* Larger font size for better readability */
    font-weight: bold; /* Bold text for better readability */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
      /*   background-color: rgb(255, 255, 255); */ /* Change the color to white */
        /*invert the arrow color*/
        filter: invert(20%); 
}