#home {
    padding: 10px 10px;
    max-height: 100%;
}

.home h2 {
    font-size: 20px;
    color: #444;
    text-align: center;
    margin-bottom: 10px;
}

.game-description {
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

.cta {
    text-align: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

#homeCarousel {
    display: flex;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

.carousel-inner {
    display: flex;
    align-items: center;
    width: 50%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
}

.carousel-item img {
    width: 60%;
    height: auto;
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}